.woalf-container {
    position: fixed;
    right: 15px;
    bottom: 0px;
    animation: slideUp 2s ease-out forwards;
    z-index: 50;
    cursor: pointer;

}

@keyframes slideUp {
    from {
        bottom: -300px;
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        bottom: 0;
        opacity: 1;
        transform: translateY(0);
    }
}

.woalf-img {
    width: 120px;
    height: auto;
    user-select: none;
    margin-top: 20px;
}

.speech-bubble {
    position: absolute;
    top: -10px;
    background: #ffffff;
    padding: 7px 11px;
    border-radius: 14px;
    font-size: 12px;
    max-width: 260px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    opacity: 0;
    animation: fadeIn 0.6s ease forwards;
}

.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 12px 12px 0;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.cursor {
    display: inline-block;
    animation: blink 0.7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* FAB flotante con Woalft dentro */
.woalf-fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: none;
    background: #ff0000;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.377);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 50;
    cursor: pointer;
    animation: fabPopIn 0.25s ease-out forwards;

    @media(max-width: 820px) {

        bottom: 90px;
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    @keyframes fabPopIn {
        from {
            transform: scale(0.6);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }
}