// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-dark: #000000;
  --ion-color-danger: #ff0000;
  --ion-color-gris: #ffffff;
  --ion-color-morado: #aa1398;
  --ion-color-joli: #04b4cc;

  --ion-font-family: 'DM Sans', sans-serif;
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
}

ion-content {
  --background: var(--ion-color-gris);
}

// ion-header {
//   padding-top: env(safe-area-inset-top);
// }

// @supports (padding-top: constant(safe-area-inset-top)) {
//   ion-header {
//     padding-top: constant(safe-area-inset-top);
//   }
// }

ion-title {
  font-size: 15px;
}

.perfil-header {
  display: flex;
  align-items: center;

  .btn-regresar {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      font-size: 24px;
    }
  }

  .logo {
    width: 5%;
    margin-left: 15px;

    @media (max-width: 768px) {
      width: 18%;
    }
  }

  .titulo-perfil {
    margin-left: 20px;
    font-weight: 500;
    color: white;
  }
}

.spinner-rojo {
  z-index: 20001;
  --spinner-color: var(--ion-color-danger);
}

.spinner-rojo ion-spinner.crescent circle {
  stroke: var(--ion-color-danger);
}

::ng-deep ion-popover.no-scroll-popover {
  z-index: 30000 !important;
}

::ng-deep .popover-wrapper.no-scroll-popover {
  z-index: 30000 !important;
  position: fixed !important;
}


.modal-fullscreen {
  --width: 100vw !important;
  --height: 100vh !important;
  --max-width: 100vw !important;
  --max-height: 100vh !important;
  --border-radius: 0 !important;
  --box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

ion-toolbar {
  height: auto;
}

.modal-ancha {
  --width: 100%;
  --max-width: 100%;
  // --border-radius-top-left: 12px;
  margin-inline: auto;
}

.modal-perfil {
  --border-radius-top-left: 15px;
  --border-radius-top-right: 15px;
}

ion-select {
  --padding-start: 12px;
  --padding-end: 20px;
  --background: white;
  --border-radius: 6px;
}

.filtros-pestana {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem;

  .filtro-btn {
    position: relative;
  }

  .activo-indicador {
    margin-left: 5px;
    font-size: 0.9rem;
    color: green;
    font-weight: bold;
  }
}

.valor-seleccionado {
  margin-left: 4px;
  font-size: 11px;
  color: #5f5f5f;
}




















//      ______
//  ___//__|__\\___
// |  _     _     |
// '--(_)---(_)---'
//

// ---- CARTA DE CATALOGO -----
// ## ----- ----
.catalogo-autos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 0rem;
  max-width: 1300px;
  margin: 0 auto;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }



}


























// -----  PAGINACION ----- 
.contenedor-paginacion {
  position: static;
  max-width: 420px;
  margin: 2rem auto;
  padding: 1rem 1.2rem;
  border-radius: 0;
  text-align: center;

  @media (max-width: 1124px) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: env(safe-area-inset-bottom, 0);
    z-index: 9999;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 12px 30px;
    background: rgba(0, 0, 0, 0.96);
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .titulo-paginacion {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .paginacion-scroll {
    @media (min-width: 1125px) {
      overflow-x: auto;
      display: flex;
      justify-content: center;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (max-width: 1124px) {
      width: 100%;
      max-width: 540px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
  }

  .paginacion {
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .pagina {
    font-size: 12px;
    background-color: #5252527e;
    border: none;
    color: #ffffff;
    padding: 6px 12px;
    font-weight: 600;
    border-radius: 5px;
    min-width: 38px;
    cursor: pointer;
    transition: background 0.2s;

    @media (max-width: 1124px) {
      font-size: 10px;
      padding: 10px 10px !important;
    }

    &.activa {
      background-color: var(--ion-color-danger);
      color: #fff;
    }

    &:disabled {
      display: none;
    }
  }

  .ellipsis {
    color: #888;
    font-weight: bold;
    font-size: 13px;
  }

}























// ## ----- ----
//  .:::.   .:::.
// :::::::.:::::::
// :::::::::::::::
//  '::::::::::::'
//    '::::::::'
//      '::::'
//        ':'



.mensaje-vacio {
  grid-column: 1 / -1;
  text-align: center;
  padding: 2rem;
  font-size: 20px;
  color: #00000099;
  font-weight: 500;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;

  .icono-mensaje {
    font-size: 30px;
    color: #ccc;
    margin-bottom: 0.5rem;
  }
}

.loader {
  position: absolute;
  inset: 0;
  background-color: #eee;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 2px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #ff8989;
  border-top: 3px solid #f91f1f;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-bottom: 6px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

img.oculta {
  display: none;
}










.split-woaw-seguros {
  display: grid;
  grid-template-columns: var(--left, auto) var(--right, 1fr);
  gap: 0px;

  .divicion1 {
    padding: 0 10px;
    box-sizing: border-box;

    min-width: 0;
    overflow: auto;
    min-height: 100svh;

    @media (max-width: 860px) {
      min-height: 40svh;
    }
  }

  .divicion2 {
    min-width: 0;
    overflow: auto;
    background-color: #000000;
    // min-height: 80svh;
  }

  @media (max-width: 860px) {
    grid-template-columns: 1fr;

    .divicion1,
    .divicion2 {
      max-height: none;
      overflow: visible;
    }
  }
}






.fondo-seguros {
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: fixed;
  inset: 0;
  z-index: -1;

  @media (max-width: 850px) {
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    display: block;
    opacity: 1;
  }

  .fondo-seguros__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.639) 40%, #0000006e 40% 80%);
    pointer-events: none;
  }
}




.modal-pasos-seguros {
  --background: #000000 !important;
  --ion-background-color: #000000 !important;
  --color: #ffffff !important;
  --backdrop-opacity: 0.7 !important;
  --border-radius: 16px !important;
  --box-shadow: none !important;

  ion-content {
    --background: #000000 !important;
    color: #ffffff !important;
  }

  ion-button,
  ion-icon,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: #ffffff !important;
  }

  .card {
    background: #111 !important;
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: #fff;
  }
}