<!-- <ion-header [translucent]="true">
  <ion-toolbar color="dark" class="woaw-toolbar">
    <div class="brand">
      <a class="brand__logo" routerLink="/" aria-label="/home">
        <img src="assets/icon/logo4.png" alt="WOAW" />
      </a>
      <span>Conócenos</span>
    </div>
    <span></span>
  </ion-toolbar>
</ion-header> -->

<app-navbar></app-navbar>

<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
  <!-- <section class="logo">
    <div class="img">
      <img src="assets/icon/logo4.png" alt="Logo Woaw" />
    </div>
  </section> -->

  <!-- HERO -->
  <section class="hero" #hero>
    <div class="hero__bg" aria-hidden="true">
      <img src="/assets/nosotros/fondoP.webp" alt="Fondo" fetchpriority="high" decoding="sync" />
    </div>

    <div class="hero__glow" aria-hidden="true"></div>
    <div class="hero__content reveal">
      <!-- <h1>WO<span>AW</span></h1>  -->
      <p>
        La plataforma digital que transforma la experiencia de compra - venta de
        autos nuevos, seminuevos y usados en México.
      </p>
    </div>
  </section>



  <!-- 

  <section>
    <figure class="phone-mock" aria-hidden="true">
      <picture>
        <source srcset="/assets/nosotros/iphone.png" type="image/webp" />
        <img src="/assets/nosotros/iphone.webp" alt="" loading="lazy" />
      </picture>
      <div id="features-end-sentinel" aria-hidden="true"></div>
    </figure>
  </section>

  -->

  <!-- CARTAS CON IMÁGENES -->
  <section class="cards-row">
    <div class="cards-row__wrap">
      <article class="card-img" *ngFor="let c of cardsNosotros" [routerLink]="c.link" routerDirection="forward">
        <figure class="thumb">
          <img [src]="c.img" [alt]="c.title" />
        </figure>
        <h4>{{ c.title }}</h4>
      </article>
      <!-- <figure class="phone-mock" aria-hidden="true" >
        <picture>
          <source srcset="/assets/nosotros/iphone.png" type="image/webp" />
          <img src="/assets/nosotros/iphone.webp" alt="" loading="lazy" />
        </picture>
        <div id="features-end-sentinel" aria-hidden="true"></div>
      </figure> -->
    </div>
  </section>




  <!-- <section>

        <figure class="phone-mock" aria-hidden="true">
          <picture>
            <source srcset="/assets/nosotros/iphone.png" type="image/webp" />
            <img src="/assets/nosotros/iphone.webp" alt="" loading="lazy" />
          </picture>
          <div id="features-end-sentinel" aria-hidden="true"></div>
        </figure>

      </section>  


    

  <!- CONECTOR COMPRADOR / CONECTAMOS / VENDEDOR -->
  <section class="connect-band" aria-label="Conectamos compradores y vendedores">
    <div class="connect-track">
      <article class="connect-col">
        <h5>COMPRADOR</h5>
        <p>
          Puedes buscar, comparar filtrar,<br />
          cotizar, financiar y agendar citas<br />
          en la agencia o lote.
        </p>
      </article>

      <div class="connect-center" role="group" aria-label="Conectamos">
        <span class="connect-label">CONECTAMOS</span>
      </div>

      <article class="connect-col">
        <h5>VENDEDOR</h5>
        <p>
          Visibilidad digital para tus autos sin<br />
          costo, clientes listos para comprar y<br />
          respaldo de financiamiento.
        </p>
      </article>
    </div>
  </section>

  <!-- MISIÓN / VISIÓN / VALORES -->
  <section class="mvv">
    <article class="card reveal" color="danger">
      <h3>Misión</h3>
      <p>
        <strong>Conectar personas con su próximo auto</strong>, simplificando la
        compra-venta de autos nuevos, seminuevos y particulares a través de una
        <strong>plataforma digital</strong>
        que brinda una experiencia segura, ágil y 100% confiable. En WOAW,
        <strong>impulsamos relaciones inteligentes</strong> entre compradores y
        vendedores a través de tecnología y asesoría personalizada que generan
        confianza desde el primer clic hasta el cierre de la venta.
      </p>
    </article>

    <article class="card reveal">
      <h3>Visión</h3>
      <p>
        <strong>Ser la plataforma líder en México en intermediación de autos</strong>, reconocida por revolucionar
        la forma de comprar y vender con un
        modelo digital centrado en la comodidad del usuario siendo accesible,
        justa y transparente en el proceso. Queremos que cada persona pueda
        <strong>adquirir o vender un auto con tranquilidad</strong>, con
        respaldo profesional y sin complicaciones, desde cualquier lugar.
      </p>
    </article>

    <article class="card reveal">
      <h3>Valores</h3>
      <ul>
        <li>Innovación</li>
        <li>Seguridad</li>
        <li>Accesibilidad</li>
        <li>Dinamismo</li>
        <li>Transparencia</li>
        <li>Confianza</li>
      </ul>
    </article>
  </section>

  <section class="intro-woaw">
    <p>
      <strong>WOAW</strong> es la plataforma digital que
      <span class="resaltar">transforma la experiencia automotriz en México</span>, integrando
      <span class="resaltar">compra, venta, renta y arrendamiento.</span>
    </p>

    <div class="intro-woaw__actions">
      <a href="/menu-vehiculos/autos" class="btn-rojo">Encuentra tu auto</a>

      <a href="/new-car" class="btn-rojo">Publica tu inventario</a>
    </div>
  </section>

  <!-- LÍNEA DE TIEMPO -->

  <section></section>

  <!-- KPIs -->
  <!-- <section class="kpis">
    <div class="kpi reveal" *ngFor="let k of kpiList">
      <div class="kpi__num" [attr.data-target]="k.valor">0</div>
      <div class="kpi__label">{{ k.label }}</div>
    </div>
  </section> -->

  <!-- CTA -->
  <!-- <section class="cta reveal">

    <h2>¿Listo para acelerar con nosotros?</h2>
    <p>Si compartes nuestra obsesión por el detalle y el servicio, hablemos.</p>
    <a class="btn" href="mailto:comercial@wo-aw.com">Contactar</a>
  </section> -->

  <app-footer></app-footer>
</ion-content>