.marquee-cards {
  display: grid;
  gap: 16px;
  padding: 20px 0;
  overflow: hidden;
  width: 100%;
}

.row {
  --h: 190px;
  --w: 260px;
  --footer-h: 56px;
  height: var(--h);
}

@media (max-width: 820px) {
  .row {
    --h: 120px;
    --w: 120px;
    --footer-h: 50px;
  }
}

.track {
  display: flex;
  width: max-content;
  gap: 14px;
  animation: scroll-ltr var(--duration, 140s) linear infinite;
}

.rtl .track {
  animation-name: scroll-rtl;
}

.segmento {
  display: flex;
  align-items: stretch;
  gap: 14px;
}

@keyframes scroll-ltr {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-rtl {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.row:hover .track {
  animation-play-state: paused;
}

.mini-card {
  flex: 0 0 auto;
  width: var(--w);
  height: var(--h);
  border-radius: 0px;
  overflow: hidden;
  background: #0f111500;
  display: grid;
  grid-template-rows: calc(var(--h) - var(--footer-h)) var(--footer-h);
  cursor: pointer;
  transition: transform .22s ease;
}

.mini-card:hover {
  transform: translateY(-2px) scale(1.02);
}

.img-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding: 8px 2px;
  background: rgba(0, 0, 0, 0.182);
  color: #000000c5;
  min-height: var(--footer-h);
}

h4 {
  margin: 0;
  font-size: clamp(8px, 1.2vw, 15px);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.precio {
  font-size: clamp(5px, 1.2vw, 10px);
}

/* hard stop: nunca dejemos que nada tape el footer */
.mini-card,
.img-wrap,
.img-wrap img {
  contain: layout paint size;
}