.formulario-wrapper {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.resumen-card,
.tipo-card,
.venta-card,
.publicacion-card,
.form-card {
  background: #fff;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  margin-bottom: 22px;
}

.titulo-main {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.opciones-grid {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.opcion {
  width: 140px;
  height: 140px;
  border-radius: 16px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s;
}

.opcion.activa {
  border: 2px solid #2563eb;
  background: #eaf2ff;
}

.btn-principal {
  background: #2563eb;
  color: white;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  margin-top: 10px;
}

.btn-secundario {
  background: #f4f4f4;
  padding: 12px;
  border-radius: 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.box {
  background: #f8f9fa;
  padding: 14px;
  border-radius: 12px;
}

.btn-img {
  background: #2563eb;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
}

.btn-limpiar {
  margin-top: 10px;
  background: #d62828;
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 12px;
}

.grid-form {
  margin-top: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.grid-form .campo {
  display: flex;
  flex-direction: column;
}

.grid-form textarea {
  width: 100%;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #ccc;
}

.btn-wsp {
  background: #25d366 !important;
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  color: white;
  margin-top: 20px;
}
