<ion-header translucent="true">
  <ion-toolbar color="light" class="header-ios">
    <ion-title class="title-ios">Imágenes</ion-title>

    <ion-buttons slot="end">
      <ion-button class="btn-close-ios" (click)="cancelar()" fill="clear">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="imagenes-content-ios">

  <div class="sheet-inner-ios">

    <!-- Imagen principal -->
    <div class="campo campo-principal-ios">
      <label class="etiqueta-ios">
        Imagen principal <span class="req">*</span>
      </label>

      <!-- Input oculto -->
      <input
        type="file"
        id="fileInputPrincipal"
        accept="image/*"
        (change)="seleccionarImagenPrincipal($event)"
        hidden
      />

      <!-- Placeholder -->
      <label
        class="preview-placeholder-ios"
        for="fileInputPrincipal"
        *ngIf="!imagenPrincipalMostrada"
      >
        <ion-icon name="image-outline"></ion-icon>
        <span>Agregar imagen</span>
      </label>

      <!-- Preview principal -->
      <div class="preview-container-ios" *ngIf="imagenPrincipalMostrada">
        <img [src]="imagenPrincipalMostrada" class="preview-img-ios" />
        <ion-icon
          name="close-circle"
          class="icono-borrar-principal-ios"
          (click)="eliminarImagenPrincipal()"
        ></ion-icon>
      </div>
    </div>

    <!-- Imágenes secundarias -->
    <div class="campo campo-secundario-ios">
      <label class="etiqueta-ios">
        Imágenes secundarias <span class="opc">(máx. 10)</span>
      </label>

      <!-- Input oculto -->
      <input
        type="file"
        id="fileInputSecundario"
        accept="image/*"
        multiple
        (change)="seleccionarImagenesSecundarias($event)"
        hidden
      />

      <div class="imagenes-secundarias-ios">
        <!-- Previews -->
        <div
          class="preview-wrapper-ios"
          *ngFor="let img of imagenesSecundariasMostradas; let i = index"
        >
          <img [src]="img" class="preview-img-ios" />
          <ion-icon
            name="close-circle"
            class="icono-borrar-ios"
            (click)="eliminarImagenSecundaria(i)"
          ></ion-icon>
        </div>

        <!-- Botón + -->
        <label
          class="add-more-placeholder-ios"
          *ngIf="imagenesSecundariasMostradas.length < 10"
          for="fileInputSecundario"
        >
          <ion-icon name="add-outline"></ion-icon>
          <span>Agregar</span>
        </label>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-ios">
    <div class="botones-footer-ios">
      <ion-button
        expand="block"
        fill="solid"
        class="btn-footer-ios btn-cancel-ios"
        (click)="cancelar()"
      >
        <ion-icon name="close-outline" slot="start"></ion-icon>
        Cancelar
      </ion-button>

      <ion-button
        expand="block"
        fill="solid"
        class="btn-footer-ios btn-save-ios"
        (click)="confirmar()"
      >
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Guardar imágenes
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
