<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <div class="perfil-header">
        <img src="/assets/icon/logo4.png" alt="Go Autos" class="logo" />
        <span class="titulo-perfil">Mi perfil</span>
      </div>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="!mostrarCambio && isLoggedIn">
    <ion-list class="perfil-grid" lines="none">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="fotoPerfil" alt="Foto de perfil" referrerpolicy="no-referrer"
            (error)="fotoPerfil = 'assets/icon/woalf.png'" />
        </ion-avatar>
        <ion-label>
          <h2>{{ usuario?.nombre }} {{ usuario?.apellidos }}</h2>
          <p>Nombre completo</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label>
          <h2>{{ usuario?.email }}</h2>
          <p>Correo electrónico</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <ion-label>
          <h2>{{ usuario?.telefono }}</h2>
          <p>Teléfono</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="accessibility-outline"></ion-icon>
        <ion-label>
          <h2>{{ usuario?.rol | titlecase }}</h2>
          <p>Rol</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- ## ----- ----- -->
  <ion-card *ngIf="isLoggedIn" class="card-cambio" [class.is-open]="mostrarCambio">
    <ion-card-header (click)="mostrarCambio = !mostrarCambio" class="cabecera-acordeon">
      <ion-card-title class="ion-align-items-center ion-justify-content-between">
        <div class="titulo-acordeon">
          Cambiar contraseña
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>

        <ion-icon [name]="mostrarCambio ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="mostrarCambio">
      <form [formGroup]="formCambio" (ngSubmit)="cambiarPassword()">
        <p>Contraseña mínimo de 8 caracteres</p>

        <ion-item>
          <ion-label position="stacked">Contraseña actual</ion-label>
          <ion-input [type]="verActual ? 'password' : 'text'" formControlName="password" required></ion-input>
          <ion-icon slot="end" [name]="verActual ? 'eye-off-outline' : 'eye-outline'" (click)="verActual = !verActual"
            class="icono-ojito"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nueva contraseña</ion-label>
          <ion-input [type]="verNuevas ? 'password' : 'text'" formControlName="newPassword" required></ion-input>
          <ion-icon slot="end" [name]="verNuevas ? 'eye-off-outline' : 'eye-outline'" (click)="verNuevas = !verNuevas"
            class="icono-ojito"></ion-icon>
        </ion-item>

        <ion-text color="danger" *ngIf="
            formCambio.get('newPassword')?.hasError('passwordInvalida') &&
            formCambio.get('newPassword')?.touched
          ">
          <small>
            La contraseña debe tener mínimo 8 caracteres, una mayúscula, un
            número y un carácter especial.
          </small>
        </ion-text>

        <ion-item>
          <ion-label position="stacked">Confirmar nueva contraseña</ion-label>
          <ion-input [type]="verNuevas ? 'password' : 'text'" formControlName="newPasswordconf" required></ion-input>
        </ion-item>

        <ion-button color="danger" expand="block" type="submit" [disabled]="formCambio.invalid">
          Actualizar contraseña
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- CARD: Eliminar cuenta (idéntico diseño, actúa como botón/link) -->
  <ion-card class="card-cambio" *ngIf="MyRole === 'asesor' && isLoggedIn">
    <ion-card-header class="cabecera-acordeon">
      <ion-card-title >
        {{linkComision}}
        <ion-button type="button" color="danger" (click)="copiar(linkComision)">Copiar</ion-button>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="asesor && MyRole !== 'asesor' ">
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">

          <!-- COLUMNA IZQUIERDA: FOTO + NOMBRE -->
          <ion-col size="12" size-md="4" class="ion-text-center">
            <ion-avatar style="margin: 0 auto 10px; width: 50px; height: 50px">
              <img [src]="asesor.foto ? asesor.foto : 'assets/icon/woalf1.png'" alt="Asesor" />
            </ion-avatar>

            <ion-text>
              <h1>{{ asesor.nombre }} {{ asesor.apellidos }}</h1>
              <p>Asesor asignado</p>
            </ion-text>
          </ion-col>

          <!-- COLUMNA DERECHA: INFO -->
          <ion-col size="12" size-md="8">
            <ion-item lines="none">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-label>
                {{ asesor.email }}
              </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-icon name="call-outline" slot="start"></ion-icon>
              <ion-label>
                {{ asesor.lada }} {{ asesor.telefono }}
              </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-icon name="id-card-outline" slot="start"></ion-icon>
              <ion-label>
                UID: {{ asesor.asesorUid }}
              </ion-label>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>