<app-navbar></app-navbar>

<ion-content [fullscreen]="true">

  <ion-grid class="grid-container" *ngIf="isLoggedIn">
    <ion-row class="grid-row">


      <ion-col size="12" size-md="12">
        <ion-card class="formulario-lote">

          <ion-card-header class="card-header-custom">
            <div class="header-content">
              <ion-button fill="clear" color="dark" class="btn-back" (click)="regresar()">
                <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
              </ion-button>

              <div class="logo-title-container">
                <div class="logo-circle">
                  <ion-icon name="car-sport-outline" class="logo-icon"></ion-icon>
                </div>
                <div class="title-container">
                  <ion-card-title class="titulo-principal">Registra tu <br> coche de renta</ion-card-title>
                  <ion-card-subtitle class="subtitulo" *ngIf="posicion">Completa la información</ion-card-subtitle>
                  <ion-card-subtitle class="subtitulo" *ngIf="!posicion">Agrega tu ubicación</ion-card-subtitle>
                </div>
              </div>
            </div>
          </ion-card-header>

          <ion-card-content>
            <div>
              <ion-grid>
                <ion-row class="seccion-formulario">

                  <ion-col size="12" size-md="6" class="campo-formulario">
                    <ion-label position="stacked" class="etiqueta-campo">
                      Marca: <strong class="obligatorio">*</strong>
                    </ion-label>
                    <ion-input [(ngModel)]="marca" placeholder="Ej. Toyota, Honda, Ford" maxlength="25"
                      autocapitalize="characters" inputmode="text" class="input-mayusculas">
                    </ion-input>
                    <ion-note *ngIf="marca.length > 25" color="danger" class="mensaje-error">
                      Máximo 25 caracteres.
                    </ion-note>
                  </ion-col>

                  <ion-col size="12" size-md="6" class="campo-formulario">
                    <ion-label position="stacked" class="etiqueta-campo">
                      Modelo: <strong class="obligatorio">*</strong>
                    </ion-label>
                    <ion-input [(ngModel)]="modelo" placeholder="Ej. Corolla, Civic, F-150" maxlength="25"
                      class="input-estandar">
                    </ion-input>
                    <ion-note *ngIf="modelo.length > 25" color="danger" class="mensaje-error">
                      Máximo 25 caracteres.
                    </ion-note>
                  </ion-col>

                </ion-row>
              </ion-grid>

              <div class="botones-accion" *ngIf="tipoDispocitivo !== 'telefono'">
                <div class="boton-publicar-container">
                  <div class="botones-fila">
                    <ion-button color="dark" expand="block" type="button" class="btn-crear-lote" (click)="cancelar()">
                      <ion-icon slot="start" name="close-outline"></ion-icon>
                      Cancelar
                    </ion-button>
                    <ion-button color="danger" expand="block" type="button" class="btn-crear-lote" 
                      [disabled]="!marca || !modelo">
                      <ion-icon name="save-outline" slot="end"></ion-icon>
                      Guardar
                    </ion-button>
                  </div>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div *ngIf="!isLoggedIn" class="mensaje-autenticacion">
    Para publicar un <strong>Lote</strong>, primero debes iniciar sesión o crear una cuenta.
    <button class="btn-acceso" (click)="irAInicio()">Acceder</button>
  </div>

  <app-footer *ngIf="tipoDispocitivo !== 'telefono'"></app-footer>
</ion-content>