<ion-list [ngClass]="{ 'estilo-escritorio': !esDispositivoMovil, 'estilo-movil': esDispositivoMovil }">

  <div *ngIf="esDispositivoMovil" class="encabezado-consentimiento">
    <img src="assets/icon/logo2.png" alt="Go Autos" />
    {{ tipoVehiculo === 'Autos' ? 'Menú de Autos' :
    tipoVehiculo === 'Motos' ? 'Menú de Motos' :
    tipoVehiculo === 'Camiones' ? 'Menú de Camiones' : 'Menú' }}
  </div>

  <ng-container *ngIf="tipoVehiculo === 'Autos'">
    <ion-item [ngClass]="esDispositivoMovil ? 'item-movil' : 'item-escritorio'" button (click)="redirecion('nuevos')">
      <ion-icon *ngIf="esDispositivoMovil" style="margin-right: 2px;" name="car-sport"></ion-icon>
      Nuevos
    </ion-item>
    <ion-item [ngClass]="esDispositivoMovil ? 'item-movil' : 'item-escritorio'" button (click)="redirecion('seminuevos')">
      <ion-icon *ngIf="esDispositivoMovil" style="margin-right: 2px;" name="car"></ion-icon>
      Seminuevos
    </ion-item>
    <ion-item [ngClass]="esDispositivoMovil ? 'item-movil' : 'item-escritorio'" button (click)="redirecion('usados')">
      <ion-icon *ngIf="esDispositivoMovil" style="margin-right: 2px;" name="car"></ion-icon>
      Usados
    </ion-item>
  </ng-container>

  <ng-container *ngIf="tipoVehiculo === 'Camiones'">
    <ion-item button (click)="redirecion('c-nuevos')">Nuevos</ion-item>
    <ion-item button (click)="redirecion('c-usados')">Usados</ion-item>
  </ng-container>

</ion-list>
