.spinner-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.879);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    cursor: progress;
    overscroll-behavior: contain;
}

.texto {
    margin: 0;
    padding: 6px 10px;
    background: transparent;
    color: #ffffff;
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 700;
    border-radius: 8px;
    user-select: none;
}

.texto_sub {
    margin: 0;
    padding: 6px 10px;
    background: transparent;
    color: #dcdcdc;
    font-size: clamp(14px, 0.5vw, 16px);
    font-weight: 400;
    border-radius: 8px;
    user-select: none;
}

.page_0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 100%;

    .loader {
        width: 96px;
        height: 48px;
        display: inline-block;
        position: relative;
        background: #FFF;
        border-radius: 48px 48px 0 0;
        box-sizing: border-box;
        overflow: hidden;
    }

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        width: 24px;
        height: 12px;
        border-radius: 24px 24px 0 0;
        background: #FF3D00;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    .loader::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 32px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        background: #FF3D00;
        transform-origin: 50% 100%;
        box-sizing: border-box;
        animation: animloader 2s linear infinite alternate;
    }

    @keyframes animloader {
        0% {
            transform: rotate(-70deg);
        }

        10% {
            transform: rotate(-40deg);
        }

        20%,
        45%,
        35% {
            transform: rotate(-10deg);
        }

        40%,
        30% {
            transform: rotate(-30deg);
        }

        50%,
        60% {
            transform: rotate(20deg);
        }

        55%,
        65%,
        75% {
            transform: rotate(40deg);
        }

        70% {
            transform: rotate(45deg);
        }

        85%,
        90% {
            transform: rotate(50deg);
        }

        95% {
            transform: rotate(75deg);
        }

        100%,
        93% {
            transform: rotate(70deg);
        }
    }
}

.page_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 100%;

    .loader {
        position: relative;
        width: 130px;
        height: 100px;
        background-repeat: no-repeat;
        background-image: linear-gradient(#bd0202, #bd1b02),
            linear-gradient(#f62929, #f7794f), linear-gradient(#f62929, #f7604f);
        background-size: 80px 70px, 30px 50px, 30px 30px;
        background-position: 0 0, 80px 20px, 100px 40px;
        background-color: #ffffff08;
    }

    .loader:after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 12px;
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 50%;
        box-sizing: content-box;
        border: 10px solid #000;
        box-shadow: 78px 0 0 -10px #fff, 78px 0 #000;
        animation: wheelSk 0.75s ease-in infinite alternate;
    }

    .loader:before {
        content: "";
        position: absolute;
        right: 100%;
        top: 0px;
        height: 70px;
        width: 70px;
        background-image: linear-gradient(#fff 45px, transparent 0),
            linear-gradient(#fff 45px, transparent 0),
            linear-gradient(#fff 45px, transparent 0);
        background-repeat: no-repeat;
        background-size: 30px 4px;
        background-position: 0px 11px, 8px 35px, 0px 60px;
        animation: lineDropping 0.75s linear infinite;
    }

    @keyframes wheelSk {

        0%,
        50%,
        100% {
            transform: translatey(0)
        }

        30%,
        90% {
            transform: translatey(-3px)
        }
    }

    @keyframes lineDropping {
        0% {
            background-position: 100px 11px, 115px 35px, 105px 60px;
            opacity: 1;
        }

        50% {
            background-position: 0px 11px, 20px 35px, 5px 60px
        }

        60% {
            background-position: -30px 11px, 0px 35px, -10px 60px
        }

        75%,
        100% {
            background-position: -30px 11px, -30px 35px, -30px 60px;
            opacity: 0;
        }
    }
}

.page_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 100%;

    .loader {
        width: 175px;
        height: 80px;
        position: relative;
        background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
        background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
        background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
        background-repeat: no-repeat;
        position: relative;
        box-sizing: border-box;
        background-color: #ffffff08;
    }

    .loader::after {
        content: '';
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        position: absolute;
        border: 15px solid transparent;
        border-top-color: #FF3D00;
        box-sizing: border-box;
        animation: fadePush 1s linear infinite;
    }

    .loader::before {
        content: '';
        left: 50%;
        bottom: 30px;
        transform: translate(-50%, 0);
        position: absolute;
        width: 15px;
        height: 15px;
        background: #FF3D00;
        box-sizing: border-box;
        animation: fadePush 1s linear infinite;
    }

    @keyframes fadePush {
        0% {
            transform: translate(-50%, -15px);
            opacity: 0;
        }

        50% {
            transform: translate(-50%, 0px);
            opacity: 1;
        }

        100% {
            transform: translate(-50%, 15px);
            opacity: 0;
        }
    }
}

.page_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 100%;

    .loader {
        width: 175px;
        height: 80px;
        position: relative;
        background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
        background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
        background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
        background-repeat: no-repeat;
        position: relative;
        box-sizing: border-box;
        background-color: #ffffff08;
    }

    .loader::after {
        content: '';
        left: 50%;
        bottom: 30px;
        transform: translate(-50%, 0);
        position: absolute;
        border: 15px solid transparent;
        border-bottom-color: #FF3D00;
        box-sizing: border-box;
        animation: fadePull 1s linear infinite;
    }

    .loader::before {
        content: '';
        left: 50%;
        bottom: 15px;
        transform: translate(-50%, 0);
        position: absolute;
        width: 15px;
        height: 15px;
        background: #FF3D00;
        box-sizing: border-box;
        animation: fadePull 1s linear infinite;
    }

    @keyframes fadePull {
        0% {
            transform: translate(-50%, 15px);
            opacity: 0;
        }

        50% {
            transform: translate(-50%, 0px);
            opacity: 1;
        }

        100% {
            transform: translate(-50%, -15px);
            opacity: 0;
        }
    }
}

.page_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 100%;

    .loader {
        width: 64px;
        height: 44px;
        position: relative;
        border: 5px solid #fff;
        border-radius: 8px;
        background-color: #ffffff08;
    }

    .loader::before {
        content: '';
        position: absolute;
        border: 5px solid #fff;
        width: 32px;
        height: 28px;
        border-radius: 50% 50% 0 0;
        left: 50%;
        top: 0;
        transform: translate(-50%, -100%)
    }

    .loader::after {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 16px 0 #fff, -16px 0 #fff;
        animation: flash 0.5s ease-out infinite alternate;
    }

    @keyframes flash {
        0% {
            background-color: rgba(255, 255, 255, 0.25);
            box-shadow: 16px 0 rgba(255, 255, 255, 0.25), -16px 0 rgb(255, 0, 0);
        }

        50% {
            background-color: rgb(255, 0, 0);
            box-shadow: 16px 0 rgba(255, 255, 255, 0.25), -16px 0 rgba(255, 255, 255, 0.25);
        }

        100% {
            background-color: rgba(255, 255, 255, 0.25);
            box-shadow: 16px 0 rgb(200, 3, 3), -16px 0 rgba(255, 255, 255, 0.25);
        }
    }

}

.page_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px; 
    width: 100%;
    height: 100%;

    .loader {
        transform-style: preserve-3d;
        background-color: #ffffff00;
    }

    .loader:after {
        content: '$';
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 32px;
        font-weight: bold;
        background: #FFD700;
        color: #DAA520;
        border: 4px double;
        box-sizing: border-box;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
        animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    .texto,
    .texto_sub {
        margin: 0;
        text-align: center;
        // Asegurar que el texto esté visible
        position: relative;
    }

    @keyframes coin-flip {

        0%,
        100% {
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
        }

        0% {
            transform: rotateY(0deg);
        }

        50% {
            transform: rotateY(1800deg);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
        }

        100% {
            transform: rotateY(3600deg);
        }
    }
}

.page_6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: 100%;

    .loader {
        width: 175px;
        height: 80px;
        position: relative;
        background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
        background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
        background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
        background-repeat: no-repeat;
        position: relative;
        box-sizing: border-box;
        background-color: #ffffff00;
    }

    .loader::after {
        content: '';
        left: 0;
        right: 0;
        margin: auto;
        bottom: 20px;
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-color: #FF3D00 transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}