<app-navbar></app-navbar>

<ion-content #pageContent [fullscreen]="true" class="contenido-ios">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    pullFactor="0.4"
    pullMin="120"
    pullMax="200"
  >
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      refreshingSpinner="crescent"
      pullingText="Desliza para actualizar"
      refreshingText="Actualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <app-acomodo
    [totalAutos]="totalAutos"
    (ordenCambio)="ordenarAutos($event)"
    [titulo]="'Nuevos'"
  ></app-acomodo>

  <app-spinner *ngIf="mostrar_spinner" [tipo]="tipo_spinner" [text]="texto_spinner" [sub_text]="textoSub_spinner"></app-spinner>

  <ion-grid class="contenedor-catalogo-ios">
    <ion-row>
      <!-- Columna lateral de filtros -->
      <ion-col size="12" size-md="3">
        <!--
        <button class="btn-transparente" (click)="abrirModalArrendamiento()">
          ¿Cómo arrendar un coche?
          <ion-icon name="information-circle-outline"></ion-icon>
        </button>
        <br>
        -->
        <app-menu
          [filtros]="filtros"
          *ngIf="!mostrarInfo"
          [filtrosAplicados]="filtrosAplicados"
          (mostrarOpciones)="mostrarOpciones($event.event, $event.tipo)"
          (limpiarFiltros)="resetearFiltros()"
        >
        </app-menu>
      </ion-col>

      <!-- Columna de catálogo -->
      <ion-col size="12" size-md="9">
        <!-- 👇 clase condicional para centrar vacío -->
        <div
          class="catalogo-autos-ios"
          [class.sin-autos]="!autosPaginados || autosPaginados.length === 0"
        >
          <!-- Estado vacío -->
          <div
            *ngIf="!autosPaginados || autosPaginados.length === 0"
            class="mensaje-vacio-ios"
          >
            <ion-icon name="car-sport-outline" class="icono-mensaje"></ion-icon>
            <p>No se encontraron autos para esta sección.</p>
          </div>

          <!-- Listado de autos -->
          <ng-container *ngIf="autosPaginados && autosPaginados.length > 0">
            <ng-container *ngFor="let auto of autosPaginados">
              <app-cartas
                [auto]="auto"
                [autosFavoritosIds]="autosFavoritosIds"
                [ubicacion]="'nuevos'"
                (refrescarAutos)="handleRefrescarAutos($event)"
                [esMio]="idsMisAutos.includes(auto._id)"
              >
              </app-cartas>
            </ng-container>
          </ng-container>
        </div>

        <!-- Paginación iOS -->
        <div class="contenedor-paginacion-ios" *ngIf="totalPaginas > 1">
          <div class="paginacion-scroll-ios">
            <div class="paginacion-ios">
              <!-- Flecha anterior -->
              <button
                class="pagina-ios"
                (click)="cambiarPagina(paginaActual - 1)"
                [disabled]="paginaActual === 1"
              >
                ‹
              </button>

              <!-- Botones dinámicos -->
              <ng-container *ngFor="let i of paginasReducidas">
                <button
                  *ngIf="esNumero(i)"
                  class="pagina-ios"
                  [class.activa]="paginaActual === i"
                  (click)="cambiarPagina(i)"
                >
                  {{ i }}
                </button>
                <span *ngIf="!esNumero(i)" class="ellipsis-ios">...</span>
              </ng-container>

              <!-- Flecha siguiente -->
              <button
                class="pagina-ios"
                (click)="cambiarPagina(paginaActual + 1)"
                [disabled]="paginaActual === totalPaginas"
              >
                ›
              </button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
