<app-navbar></app-navbar>

<ion-content #pageContent [fullscreen]="true" class="contenido-ios" mode="ios">
  <!-- Refresher (mezcla: config HEAD + refresher main) -->
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    pullFactor="0.4"
    pullMin="120"
    pullMax="200"
  >
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      refreshingSpinner="crescent"
      pullingText="Desliza para actualizar"
      refreshingText="Actualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <!-- Header/Orden -->
  <app-acomodo
    [totalAutos]="totalAutos"
    (ordenCambio)="ordenarAutos($event)"
    [titulo]="'Nuevos'"
  ></app-acomodo>

  <!-- Spinner -->
  <app-spinner
    *ngIf="mostrar_spinner"
    [tipo]="tipo_spinner"
    [text]="texto_spinner"
    [sub_text]="textoSub_spinner"
  ></app-spinner>

  <ion-grid class="contenedor-catalogo-ios">
    <ion-row>
      <!-- Columna lateral de filtros -->
      <ion-col size="12" size-md="3" class="col-filtros-ios">
        <app-menu
          [filtros]="filtros"
          *ngIf="!mostrarInfo"
          [filtrosAplicados]="filtrosAplicados"
          (mostrarOpciones)="mostrarOpciones($event.event, $event.tipo)"
          (limpiarFiltros)="resetearFiltros()"
        >
        </app-menu>
      </ion-col>

      <!-- Columna de catálogo -->
      <ion-col size="12" size-md="9" class="col-catalogo-ios">
        <!-- clase condicional para centrar vacío -->
        <div
          class="catalogo-autos-ios"
          [class.sin-autos]="!mostrar_spinner && (!autosPaginados || autosPaginados.length === 0)"
        >
          <!-- Estado vacío (solo si NO está cargando) -->
          <div
            *ngIf="!mostrar_spinner && (!autosPaginados || autosPaginados.length === 0)"
            class="mensaje-vacio-ios"
          >
            <ion-icon name="car-sport-outline" class="icono-mensaje"></ion-icon>
            <p>No se encontraron vehículos para esta sección.</p>
          </div>

          <!-- Cards -->
          <ng-container *ngIf="autosPaginados && autosPaginados.length > 0">
            <ng-container *ngFor="let auto of autosPaginados">
              <app-cartas
                [auto]="auto"
                [autosFavoritosIds]="autosFavoritosIds"
                [ubicacion]="auto?.tipoVehiculoGeneral === 'moto' ? 'm-nuevos' : 'nuevos'"
                (refrescarAutos)="handleRefrescarAutos($event)"
                [esMio]="idsMisAutos.includes(auto._id)"
              >
              </app-cartas>
            </ng-container>
          </ng-container>
        </div>

        <!-- Paginación iOS -->
        <div class="contenedor-paginacion-ios" *ngIf="totalPaginas > 1">
          <div class="paginacion-scroll-ios">
            <div class="paginacion-ios">
              <!-- Flecha anterior -->
              <button
                class="pagina-ios"
                (click)="cambiarPagina(paginaActual - 1)"
                [disabled]="paginaActual === 1"
              >
                ‹
              </button>

              <!-- Botones dinámicos -->
              <ng-container *ngFor="let i of paginasReducidas">
                <button
                  *ngIf="esNumero(i)"
                  class="pagina-ios"
                  [class.activa]="paginaActual === i"
                  (click)="cambiarPagina(i)"
                >
                  {{ i }}
                </button>

                <span *ngIf="!esNumero(i)" class="ellipsis-ios">...</span>
              </ng-container>

              <!-- Flecha siguiente -->
              <button
                class="pagina-ios"
                (click)="cambiarPagina(paginaActual + 1)"
                [disabled]="paginaActual === totalPaginas"
              >
                ›
              </button>
            </div>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>