<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <!-- <app-spinner *ngIf="mostrar_spinnet" [tipo]="5" [text]="'Cargando...'"></app-spinner> -->

  <div class="hero">
    <img src="/assets/renta/renta_principal.png" class="cabecera" alt="Seguro de autos" />

    <div class="hero__overlay">
      <div class="hero__content">
        <h1 class="hero__title">
          Renta el auto
          <br>
          que necesitas
        </h1>
      </div>
    </div>

    <div class="beneficios">
      <div class="beneficio">
        <div class="beneficio-icono">
          <img src="/assets/renta/beneficios_car.png" alt="">
        </div>
        <div class="beneficio-texto">
          <span class="beneficio-titulo">Seguro incluido</span>
        </div>
      </div>

      <div class="beneficio">
        <div class="beneficio-icono">
          <img src="/assets/renta/beneficios_cash.png" alt="">
        </div>
        <div class="beneficio-texto">
          <span class="beneficio-titulo">Sin depósitos</span>
        </div>
      </div>

      <div class="beneficio">
        <div class="beneficio-icono">
          <img src="/assets/renta/beneficios_location.png" alt="">
        </div>
        <div class="beneficio-texto">
          <span class="beneficio-titulo">Entrega gratis</span>
        </div>
      </div>
    </div>

  </div>

  <section class="contenido-pagina">

    <h1>Proximamente</h1>

  </section>

  <app-footer></app-footer>
</ion-content>