.hero {
  width: 100%;
  height: 400px;
  overflow: hidden;
  z-index: 0;

  @media (max-width: 820px) {
    height: 200px;
  }

  .cabecera {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    display: block;
  }

  .hero__overlay {
    margin-top: 50px;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: first baseline;
    justify-content: flex-end;
    padding: 50px;


    @media (max-width: 820px) {
      padding: 20px;
    }

    .hero__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(10px, 2vw, 18px);
      text-align: left;
      z-index: 2;

      .hero__title {
        margin: 0;
        font-size: 60px;
        font-weight: 800;
        text-align: left;
        background: linear-gradient(90deg, #000000, #ff2121);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        line-height: 1.1;

        @media (max-width: 820px) {
          background: linear-gradient(90deg, #ff2121, #000000);
          -webkit-background-clip: text;
          font-size: 20px;
          font-weight: 800;
        }
      }
    }

  }

  .logo_woaw {
    width: clamp(90px, 12vw, 120px);
    height: auto;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.4));
  }

  .beneficios {
    margin-top: 270px;
    position: absolute;
    right: 10rem;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;

    @media (max-width: 820px) {
      margin-top: 150px;
      right: 1rem;
    }

    .beneficio {
      display: flex;
      gap: 15px;
      padding: 6px 0;
      width: 100%;
      justify-content: flex-start;

      @media (max-width: 820px) {
        gap: 5px;
        padding: 2px 0;
        width: 100%;
      }

      .beneficio-icono {
        width: 34px;
        height: 34px;
        background: #000;
        color: #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        flex-shrink: 0;
        margin-top: 2px;

        @media (max-width: 820px) {
          width: 17px;
          height: 17px;
        }

        img {
          width: 50%;
        }
      }

      .beneficio-texto {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
        gap: 2px;
        margin-top: 8px;

        @media (max-width: 820px) {
          gap: 0px;
          margin-top: 8px;
        }

        .beneficio-titulo {
          font-size: 18px;
          font-weight: 600;
          color: #ffffff;

          @media (max-width: 820px) {
            font-size: 9px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.contenido_estados {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}


.contenido-pagina {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #555;

    @media (max-width: 820px) {
      font-size: 25px;
    }
  }

}