<app-navbar></app-navbar>

<ion-content #pageContent [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      refreshingSpinner="crescent"
      pullingText="Desliza para actualizar"
      refreshingText="Actualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <app-acomodo
    [totalAutos]="totalVehiculos"
    (ordenCambio)="ordenarAutos($event)"
    [titulo]="'Favoritos'"
  ></app-acomodo>

  <ion-grid>

    <!-- catálogo -->
    <div class="catalogo-autos">
      <ng-container *ngFor="let auto of autosPaginados">
        <app-cartas
          [auto]="auto"
          [ubicacion]="'favoritos'"
          (refrescarAutos)="handleRefrescarAutos($event)"
        >
        </app-cartas>
      </ng-container>
    </div>

    <!-- Paginación -->
    <div class="contenedor-paginacion-ios" *ngIf="totalPaginas > 1">
      <p class="titulo-paginacion">más</p>
      <div class="paginacion-scroll-ios">
        <div class="paginacion-ios">
          <!-- Flecha anterior -->
          <button
            class="pagina-ios"
            (click)="cambiarPagina(paginaActual - 1)"
            [disabled]="paginaActual === 1"
          >
            ‹
          </button>

          <!-- Botones dinámicos -->
          <ng-container *ngFor="let i of paginasReducidas">
            <button
              *ngIf="esNumero(i)"
              class="pagina-ios"
              [class.activa]="paginaActual === i"
              (click)="cambiarPagina(i)"
            >
              {{ i }}
            </button>
            <span
              *ngIf="!esNumero(i)"
              class="ellipsis-ios"
            >
              ...
            </span>
          </ng-container>

          <!-- Flecha siguiente -->
          <button
            class="pagina-ios"
            (click)="cambiarPagina(paginaActual + 1)"
            [disabled]="paginaActual === totalPaginas"
          >
            ›
          </button>
        </div>
      </div>
    </div>

    <br>
     <br>
  </ion-grid>

  <div class="mensaje-vacio" *ngIf="autosFavoritos.length === 0">
    <ion-icon name="heart-dislike" size="large" color="medium"></ion-icon>
    <p>No tienes autos en tus favoritos todavía.</p>
  </div>

</ion-content>
