<ion-header translucent>
  <!-- 🔹 Toolbar principal -->
  <ion-toolbar color="light" class="header-completo">
    <ion-title>Ubicación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- 🔍 Barra de búsqueda -->
  <ion-toolbar color="light">
    <ion-searchbar placeholder="Buscar dirección, colonia o lugar..." [debounce]="250"
      (ionInput)="onInputChange($event)" showCancelButton="never" animated #inputDireccion>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- 📄 Texto informativo -->
  <ion-text color="medium" class="texto-busqueda">
    Escribe el lugar, calle, colonia o ciudad para buscar.
  </ion-text>

  <!-- 🟢 Leyenda / semáforo -->
  <div class="legend-ubicacion">
    

    <div class="legend-item">
      <ion-icon name="location-sharp" class="pin"></ion-icon>
      <span>Ubicación a seleccionar (toca el mapa)</span>
    </div>
  </div>  

  <div class="legend-ubicacion">
  <button class="legend-item" (click)="usarMiUbicacionActual()">
    <span class="dot dot-green"></span>
    Mi ubicación
  </button>
</div>

  <!-- 🗺️ Contenedor principal del mapa -->
  <div class="map-wrapper">
    <!-- Spinner -->
    <div *ngIf="cargandoMapa" class="spinner-cargando">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
      <p style="font-size: 13px; margin-top: 8px;">Cargando mapa...</p>
    </div>

    

    <!-- Mapa real -->
    <div #mapContainer class="map-container" [hidden]="cargandoMapa"></div>
  </div>
</ion-content>

<!-- 📍 Footer con botones -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="direccion-footer">
      {{ direccionCompleta }}
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="danger" fill="solid" [disabled]="!ubicacionLugarInvalida" (click)="confirmarUbicacion()">
        {{ textoBoton }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>