<ion-content color="dark" class="error-page" [fullscreen]="true">
  <div class="error-wrap">

    <!-- Logo -->
    <img class="logo" src="/assets/icon/logo4.png" alt="Woaw Logo" />

    <!-- Código -->
    <section class="error-section">
      <h1 class="headline">Página no encontrada</h1>

      <!-- Imagen central -->
      <div class="car">
        <img class="car" src="/assets/woalft/error.png" alt="Auto en reparación" />
      </div>

      <!-- Botón -->
      <ion-button 
        routerLink="/home" 
        size="large" 
        expand="block" 
        color="danger" 
        class="back-btn">
        Volver a WOAW
      </ion-button>
    </section>

  </div>
</ion-content>