<div class="otros-ios">

  <div class="otros-ios__header">
    <button class="ios-back-btn" (click)="atras()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Regresar
    </button>

    <div class="ios-logos">
      <img src="/assets/icon/crabi1.png" class="logo" alt="Crabi" />
      <span class="divider"></span>
      <img src="/assets/icon/logo2.png" class="logo" alt="Woaw" />
    </div>

    <button 
      *ngIf="tipoDispocitivo === 'telefono'" 
      class="ios-action" 
      (click)="abrirModalPasos()">
      Pasos
      <ion-icon name="chevron-down-outline"></ion-icon>
    </button>
  </div>

  <app-pasos 
    *ngIf="tipoDispocitivo === 'computadora' || tipoDispocitivo === 'tablet'"
    [refreshKey]="refreshKey">
  </app-pasos>

</div>
