/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";








ion-refresher {
  --color: red !important;

  .refresher-pulling-text,
  .refresher-refreshing-text {
    color: red !important;
    font-weight: 500;
    display: block;
    text-align: center;
    width: 100%;
  }

  ion-spinner {
    color: red !important;
  }
}

ion-header {
  box-shadow: none !important;
}

ion-toolbar {
  box-shadow: none !important;
  --box-shadow: none !important;
  --ion-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


//      ______
//  ___//__|__\\___
// |  _     _     |
// '-(_)---(_)--'
//




.custom-alert.danger .alert-wrapper {
  --background: #fff;
  --border-radius: 16px;
  --width: 90%;
  --max-width: 320px;
  padding: 5px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.custom-alert.danger .alert-head {
  color: #d32f2f;
  font-weight: bold;
  font-size: 14px;
}

.custom-alert.danger .alert-message {
  color: #555;
  font-size: 14px;
  margin: 8px 0 16px;
}

.custom-alert.danger .alert-button-group {
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.custom-alert.danger .alert-button {
  background-color: #d32f2f;
  margin: 0 6px;
  color: #fff;
  border-radius: 8px;
  padding: 6px 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.custom-alert.danger .alert-button.role-cancel {
  background-color: #eee;
  color: #444;
}







// ## ------

::ng-deep .popover-wrapper,
::ng-deep .popover-viewport {
  overflow-x: hidden !important;
  max-width: 340px;
}

.no-scroll-popover .popover-viewport {
  overflow-x: hidden !important;
  max-width: 340px;
}

ion-checkbox {
  // Variables por defecto
  --checkbox-background: transparent;
  --border-color: rgb(230, 0, 0);
  --checkmark-color: white;
  --background-checked: rgb(230, 0, 0);
  ; // Para iOS
}

// Forzar el estilo visual también en modo md
ion-checkbox::part(container) {
  background-color: transparent;
  border: 2px solid rgb(230, 0, 0);
  ;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

ion-checkbox[aria-checked="true"]::part(container) {
  background-color: rgb(230, 0, 0);
  ;
  border: 2px solid rgb(230, 0, 0);
  ;
}

ion-checkbox[aria-checked="true"] {
  --checkmark-color: white; // check blanco
}









.radio-personalizado ion-radio {
  --border-radius: 50% !important;
  --size: 20px;
  --inner-border-radius: 50%;
  --color-checked: #ffffff;

  width: 20px;
  height: 20px;
  display: inline-block;
  visibility: visible !important;
  opacity: 1 !important;
  transform: scale(1.2);
}

.radio-personalizado ion-radio::part(container) {
  border: 2px solid #666;
  background: #fff;
  border-radius: 50% !important;
  box-sizing: border-box;
}

.radio-personalizado ion-radio[aria-checked="true"]::part(container) {
  border-color: var(--ion-color-danger);
  background: var(--ion-color-danger);
}


.modal-consentimiento {
  --width: 670px;
  --height: 570px;
  --border-radius: 8px;
  --background: #ffffff;

  &::part(content) {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }

  ion-footer {
    box-shadow: none !important;

    ion-toolbar.footer-toolbar {
      box-shadow: none !important;
      background: #fff; // O el color que estés usando para el modal
    }
  }

  ion-header {
    box-shadow: none !important;

    ion-toolbar {
      box-shadow: none !important;
      background: #fff; // O el color que estés usando para el modal
    }
  }

}


.modal-imagen-personalizado {
  --width: 100%;
  --height: 100%;
  --border-radius: 0px;
  --background: #000000db;

  &::part(content) {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
}

.popover-historial {
  --width: 100% !important;
  --max-width: 380px;
  // --box-shadow: none;
  --border-radius: 0px;
  padding: 0;
  margin-top: 7px;
  background: transparent !important;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  @media (max-width: 820px) {
    --max-width: 250px;
  }
}

app-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #000; // o el color que uses
}


// .menu_tabs {
//   --background: #f1f1f1; // Gris claro como fondo principal
//   --ion-background-color: #f1f1f1;

//   .modal-wrapper {
//     background: #f1f1f1 !important;
//     border-radius: 16px;
//   }

//   // Si tu componente tiene un ion-content dentro
//   ion-content {
//     --background: #f1f1f1;
//     background: #f1f1f1;
//   }
// }






























ion-popover.select-popover {
  margin-top: 10px;
  --width: auto;
  --max-width: none;
  --backdrop-opacity: .12;

  &::part(content) {
    border-radius: 4px;
    box-shadow: 0 10px 32px rgba(0, 0, 0, .18);
  }

  ion-select-popover {
    padding: 0;

    ion-list {
      >ion-item:nth-child(1) {
        --background: #e9efff;
        --min-height: 54px;
        font-weight: 600;
      }
    }

    ion-item {
      --min-height: 33px;
      font-size: clamp(14px, 1vw, 17px); // letra de la lsita del select 
      white-space: normal;
      line-height: 1.35;

      &:hover {
        --background: #f6f8ff;
      }
    }

    ion-radio[aria-checked="true"] {
      --color-checked: #ff1b1b;
    }
  }
}

ion-popover.select-popover {
  --width: auto;
  --max-width: none;
  --offset-y: 6px;
  transform-origin: top left;
}

ion-popover.select-popover[class*="pop-"] {
  --width: var(--pop-width, auto);
  --max-width: var(--pop-width, none);
}

// ----- SELECT -----
.control {
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #0000004e;
  border-radius: 7px;
  padding: 0 10px;
  background: #fff;
  transition: box-shadow .2s ease, border-color .2s ease;

  @media(max-width: 820px) {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0);
  }

  height: clamp(46px, 5vh, 92px);

  &:focus-within {
    border-color: rgba(66, 189, 12, 0.814);
  }

  :is(input, select) {
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: clamp(14px, 2vw, 17px);
    color: #000000;
    border: 0;
    outline: none;
    background: transparent;
    padding: 0 34px 0 2px;
    box-shadow: none;
    appearance: none;
  }

  select {
    cursor: pointer;
  }

  input::placeholder {
    font-size: clamp(14px, 2vw, 16px);
    color: #c2c2c2;
    opacity: .9;
  }

  select option[disabled] {
    color: #7c7c7c;
  }

  &:has(select)::after {
    content: "▾";
    position: absolute;
    right: 10px;
    top: 50%;
    // transform: translateY(-50%);
    font-size: 14px;
    color: #7c7c7c;
    pointer-events: none;
  }
}

.control.control--select {
  position: relative;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #0000004e;
  border-radius: 7px;
  padding: 0 5px;
  transition: box-shadow .2s ease, border-color .2s ease;

  &:focus-within {
    border-color: #4dc316;
    box-shadow: 0 0 0 3px rgba(27, 92, 255, .15);
  }

  ion-select {
    flex: 1;
    width: 100%;
    height: 46px;
    --min-height: 56px;
    --padding-start: 4px;
    --padding-end: 0px;
    font-size: clamp(12px, 1vw, 18px); //Tamaño de la letra select 
    font-weight: 400;
  }

  ion-select::part(text),
  ion-select::part(placeholder) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    line-height: 1.25;
    padding-top: 2px;
  }

  ion-select::part(icon) {
    display: none;
  }

  &::after {
    content: "▾";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--muted);
    pointer-events: none;
  }
}


.safe-footer ion-toolbar {
  padding-bottom: env(safe-area-inset-bottom);
}


.footer_css_seguros {
  ion-toolbar {
    --background: #000;
    --color: #fff;
    border-top: none;
    padding-bottom: env(safe-area-inset-bottom);

    ion-button {
      --color: #fff;
      font-weight: 400;

      &.ion-color-danger {
        --background: #e53935;
      }

      ion-icon {
        color: #fff;
      }
    }
  }

  ion-button[color="danger"] {
    --border-radius: 12px;
    --padding-start: 22px;
    --padding-end: 22px;
    --padding-top: 14px;
    --padding-bottom: 14px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  ion-button[color="warning"] {
    --border-radius: 12px;
    --padding-start: 22px;
    --padding-end: 22px;
    --padding-top: 14px;
    --padding-bottom: 14px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  ion-button[color="medium"] {
    --border-radius: 12px;
    --padding-start: 22px;
    --padding-end: 22px;
    --padding-top: 14px;
    --padding-bottom: 14px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}







/* SOLO el popup del ion-select (interface="alert") */
ion-alert {
  /* Cambiamos el "tema" interno del alert a rojo */
  --ion-color-primary: #dc2626;
  --ion-color-primary-rgb: 220, 38, 38;

  /* Por si el botón usa esta var */
  --button-color: #dc2626;
  --button-background-activated: rgba(220, 38, 38, 0.12);
}

/* Texto de los botones (Cancel / OK) */
ion-alert::part(button) {
  color: #dc2626;
}

/* Checks azules → rojos (checkbox de múltiples) */
ion-alert::part(checkbox) {
  border-color: #dc2626;
  background: #dc2626;
}

/* Radios (por si en algún select usas single) */
ion-alert::part(radio) {
  border-color: #dc2626;
  color: #dc2626;
}