<app-navbar></app-navbar>


<ion-content #pageContent [fullscreen]="true" class="contenido-ios">

  <app-acomodo
    [totalAutos]="totalMotos"
    [titulo]="'Motos'"
    (ordenCambio)="ordenarAutos($event)">
  </app-acomodo>

  <ion-grid class="contenedor-catalogo-ios">
    <ion-row>

      <!-- FILTROS -->
      <ion-col size="12" size-md="3">
        <app-menu
          [filtros]="filtros"
          [filtrosAplicados]="filtrosAplicados"
          (mostrarOpciones)="mostrarOpciones($event.event, $event.tipo)"
          (limpiarFiltros)="resetearFiltros()">
        </app-menu>
      </ion-col>

      <!-- CATÁLOGO -->
      <ion-col size="12" size-md="9">

        <div class="catalogo-autos-ios">

          <div *ngIf="motosPaginadas?.length === 0" class="mensaje-vacio-ios">
            <ion-icon name="bicycle-outline"></ion-icon>
            <p>No tienes motos agregadas.</p>
          </div>

          <ng-container *ngFor="let auto of motosPaginadas">
            <app-cartas
              [auto]="auto"
              [autosFavoritosIds]="autosFavoritosIds"
              [ubicacion]="'mis_motos'"
              (refrescarAutos)="handleRefrescarAutos($event)"
              [esMio]="idsMisMotos.includes(auto._id)">
            </app-cartas>
          </ng-container>

        </div>

        <!-- PAGINACIÓN ROJA iOS -->
        <div class="contenedor-paginacion-ios" *ngIf="totalPaginas > 1">
          <p class="titulo-paginacion-ios">Más</p>

          <div class="paginacion-scroll-ios">
            <div class="paginacion-ios">

              <button
                class="pagina-ios"
                (click)="cambiarPagina(paginaActual - 1)"
                [disabled]="paginaActual === 1">
                ‹
              </button>

              <ng-container *ngFor="let i of paginasReducidas">
                <button
                  *ngIf="esNumero(i)"
                  class="pagina-ios"
                  [class.activa]="paginaActual === i"
                  (click)="cambiarPagina(i)">
                  {{ i }}
                </button>

                <span *ngIf="!esNumero(i)" class="ellipsis-ios">…</span>
              </ng-container>

              <button
                class="pagina-ios"
                (click)="cambiarPagina(paginaActual + 1)"
                [disabled]="paginaActual === totalPaginas">
                ›
              </button>

            </div>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
