<!-- 🔝 HEADER ESTILO IOS PRODUCT DETAIL -->
<ion-header class="ios-header">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" routerDirection="back" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <div class="ios-title-bar" *ngIf="auto">
        <img src="/assets/icon/logo2.png" alt="Go Autos" class="logo" />
        <div class="ios-title-text">
          <span class="line-1">{{ auto.marca }} {{ auto.modelo }}</span>
          <span class="line-2">{{ auto.anio }}</span>
        </div>
      </div>
    </ion-title>

    <ion-buttons slot="end" *ngIf="auto">
      <ion-button fill="clear" (click)="contactosService.compartirAuto(auto, tipo_veiculo)">
        <ion-icon name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- 👇 CAMBIÉ LA CLASE A ios-ficha-auto -->
<ion-content class="ios-ficha-auto" [fullscreen]="true">
  <!-- SPINNER DE CARGA -->
  <div class="spinner-ficha-wrapper" *ngIf="!spinner">
    <div class="spinner-ficha"></div>
    <div class="spinner-texto">Cargando vehículo...</div>
  </div>

  <div class="contenedor_ficha" *ngIf="auto">
    <!-- {{ auto.estadoVehiculo }} -->

    <!-- ================== NUEVOS ================== -->
    <ion-grid *ngIf="tipo === 'nuevo' ">
      <ion-row class="fila-ficha">
        <!-- Columna izquierda: Imagen grande, miniaturas y especificaciones -->
        <ion-col size="12" size-md="8" class="columna-izquierda responsive-col">
          <div class="contenedor-imagenes">
            <div class="contenedor_imagen_principal" (touchstart)="esDispositivoMovil && onTouchStart($event)"
              (touchend)="esDispositivoMovil && onTouchEnd($event)">
              <div class="imagen-principal"
                (click)="abrirModalImagen(auto.imagenes, auto.imagenes.indexOf(imagenSeleccionada)); $event.stopPropagation()">
                <!-- Imagen -->
                <img [src]="imagenSeleccionada" alt="Imagen principal del auto" (load)="onImagenPrincipalCargada()" />
                <!-- Loader -->
                <div class="loader_carta" *ngIf="!imagenPrincipalCargada">
                  <div class="spinner_carta"></div>
                  <span class="texto_cargando">Cargando...</span>
                </div>
                <!-- Flechas (pantallas grandes) -->
                <ng-container *ngIf="!esDispositivoMovil">
                  <button class="flecha izquierda" (click)="cambiarImagen('anterior'); $event.stopPropagation()"
                    [disabled]="imagenSeleccionada === auto.imagenes[0]">
                    ‹
                  </button>
                  <button class="flecha derecha" (click)="cambiarImagen('siguiente'); $event.stopPropagation()"
                    [disabled]="imagenSeleccionada === auto.imagenes[auto.imagenes.length - 1]">
                    ›
                  </button>
                </ng-container>
              </div>
            </div>

            <!-- Miniaturas -->
            <div class="miniaturas-vertical">
              <ng-container *ngFor="let img of auto.imagenes">
                <img [src]="img" alt="Miniatura" [class.activa]="img === imagenSeleccionada"
                  [class.oculta]="!miniaturasCargadas[img]" (click)="imagenSeleccionada = img"
                  (load)="onMiniaturaCargada(img)" />

                <div class="loader_miniatura" *ngIf="!miniaturasCargadas[img]">
                  <div class="spinner_miniatura"></div>
                </div>
              </ng-container>
            </div>
          </div>

          <ion-card *ngIf="!esDispositivoMovil" class="mapa_admin">
            <h1 class="text_ubicacion">Ubicación</h1>
            <div #mapAutoContainer style="width: 100%; height: 300px; border-radius: px;"></div>
            <!-- Dirección debajo del mapa -->
            <ion-card-content style="margin-top: 0.2rem; font-size: 14px; color: #4b5563;">
              <ion-icon name="location-outline" style="margin-right: 6px;"></ion-icon>
              {{ direccionCompleta }}
            </ion-card-content>
          </ion-card>

          <!-- Especificaciones -->
          <div class="especificaciones" *ngIf=" !esDispositivoMovil && tipo_veiculo === 'autos'">
            <h4>Especificaciones</h4>
            <ng-container *ngFor="let esp of especificacionesAuto; let i = index">
              <h5 *ngIf="especificacionesAuto.length > 1">
                Versión {{ i + 1 }}: {{ esp.version }}
              </h5>
              <table>
                <tr *ngIf="esp.marca">
                  <td>Marca</td>
                  <td>{{ esp.marca }}</td>
                </tr>
                <tr *ngIf="esp.modelo">
                  <td>Modelo</td>
                  <td>{{ esp.modelo }}</td>
                </tr>
                <tr *ngIf="esp.anio">
                  <td>Año</td>
                  <td>{{ esp.anio }}</td>
                </tr>
                <tr *ngIf="esp.tipoVehiculo">
                  <td>Tipo</td>
                  <td>{{ esp.tipoVehiculo }}</td>
                </tr>
                <tr *ngIf="esp.motor">
                  <td>Motor</td>
                  <td>{{ esp.motor }}</td>
                </tr>
                <tr *ngIf="esp.cilindros">
                  <td>Cilindros</td>
                  <td>{{ esp.cilindros }}</td>
                </tr>
                <tr *ngIf="esp.potencia">
                  <td>Potencia</td>
                  <td>{{ esp.potencia }}</td>
                </tr>
                <tr *ngIf="esp.combustible">
                  <td>Combustible</td>
                  <td>{{ esp.combustible }}</td>
                </tr>
                <tr *ngIf="esp.transmision">
                  <td>Transmisión</td>
                  <td>{{ esp.transmision }}</td>
                </tr>
                <tr *ngIf="esp.traccion">
                  <td>Tracción</td>
                  <td>{{ esp.traccion }}</td>
                </tr>
                <tr *ngIf="esp.puertas">
                  <td>Puertas</td>
                  <td>{{ esp.puertas }}</td>
                </tr>
                <tr *ngIf="esp.pasajeros">
                  <td>Pasajeros</td>
                  <td>{{ esp.pasajeros }}</td>
                </tr>
                <tr *ngIf="esp.rines">
                  <td>Rines</td>
                  <td>{{ esp.rines }}</td>
                </tr>
                <tr *ngIf="esp.extra?.length">
                  <td>Extras</td>
                  <td>
                    <ul>
                      <li *ngFor="let item of esp.extra">{{ item }}</li>
                    </ul>
                  </td>
                </tr>
              </table>
            </ng-container>
          </div>
          <div *ngIf="!esDispositivoMovil &&  (tipo_veiculo === 'motos' || tipo_veiculo === 'camiones')"
            class="especificaciones">
            <h4>Especificaciones</h4>
            <table>
              <tr *ngIf="auto.marca">
                <td>Marca</td>
                <td>{{ auto.marca }}</td>
              </tr>
              <tr *ngIf="auto.modelo">
                <td>Modelo</td>
                <td>{{ auto.modelo }}</td>
              </tr>
              <tr *ngIf="auto.anio">
                <td>Año</td>
                <td>{{ auto.anio }}</td>
              </tr>
              <tr *ngIf="auto.tipoMotor">
                <td>Tipo de Motor</td>
                <td>{{ auto.tipoMotor }}</td>
              </tr>
              <tr *ngIf="auto.cilindrada">
                <td>Cilindrada</td>
                <td>{{ auto.cilindrada }}</td>
              </tr>
              <tr *ngIf="auto.transmision">
                <td>Transmisión</td>
                <td>{{ auto.transmision }}</td>
              </tr>
              <tr *ngIf="auto.combustible">
                <td>Combustible</td>
                <td>{{ auto.combustible }}</td>
              </tr>
              <tr *ngIf="auto.frenos">
                <td>Frenos</td>
                <td>{{ auto.frenos }}</td>
              </tr>
              <tr *ngIf="auto.suspension">
                <td>Suspensión</td>
                <td>{{ auto.suspension }}</td>
              </tr>
              <tr *ngIf="auto.kilometraje !== null && auto.kilometraje !== undefined">
                <td>Kilometraje</td>
                <td>{{ auto.kilometraje }} km</td>
              </tr>
              <tr *ngIf="auto.color?.length">
                <td>Color</td>
                <td>
                  <ul style="margin: 0; padding-left: 16px;">
                    <li *ngFor="let c of auto.color">{{ c }}</li>
                  </ul>
                </td>
              </tr>
              <tr *ngIf="auto.descripcion">
                <td>Descripción</td>
                <td>{{ auto.descripcion }}</td>
              </tr>
            </table>
          </div>

          <!-- INFO + CTA EN MÓVIL -->
          <div *ngIf="esDispositivoMovil && auto.estadoVehiculo === 'disponible'" class="card-detalle">
            <h2>{{ auto.marca }} {{ auto.modelo }} {{ auto.anio }}</h2>
            <p class="precio-principal" *ngIf="tipo_veiculo === 'autos'">
              {{ versionSeleccionada?.nombre }}:
            </p>

            <p class="precio-valor" *ngIf="tipo_veiculo === 'autos'">
              {{ versionSeleccionada?.precio | currency:'MXN':'symbol':'1.0-0'
              }}
            </p>
            <p class="precio-valor" *ngIf="tipo_veiculo === 'motos' || tipo_veiculo === 'camiones'">
              {{ auto.precio | currency:'MXN':'symbol':'1.0-0' }}
            </p>

            <!-- Versiones -->
            <div class="versiones">
              <p class="titulo-seccion">Versiones</p>
              <div class="version" *ngFor="let version of versiones" (click)="onSeleccionarVersion(version)"
                [class.activa]="versionSeleccionada?.nombre === version.nombre">
                <span>{{ version.nombre }}</span>
                <span class="precio-version">{{ version.precio | currency:'MXN':'symbol' }}</span>
              </div>
            </div>
            <div *ngIf="tipo_veiculo === 'motos'">
              Colores
              <div class="fila-colores" *ngIf="auto.color?.length > 0">
                <div *ngFor="let color of auto.color" class="color-pill" [ngStyle]="getEstiloColor(color)">
                  <!-- {{ color }} -->
                </div>
              </div>
            </div>

            <!-- Botón contactar -->
            <div class="botones-contacto-responsive">
              <button *ngIf="!esMio" (click)="contactosService.contactarWOAW(auto, tipo_veiculo)"
                class="btn-personalizado success">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </button>

              <button (click)="contactosService.compartirAuto(auto, tipo_veiculo)" class="btn-personalizado medium">
                <ion-icon name="share-social-outline"></ion-icon>
              </button>

              <button *ngIf="MyRole !== 'admin' && !esMio" (click)="contactosService.llamar()"
                class="btn-personalizado primary">
                <ion-icon name="call-outline"></ion-icon>
              </button>

              <br />
              <button *ngIf="tipo_veiculo === 'autos' && MyRole !== 'admin' && !esMio" class="btn-personalizado danger"
                (click)="contactosService.ArrendamientoAuto(auto)">
                <ion-icon name="car-sport"></ion-icon>
                Arrendar
              </button>
            </div>
            <p *ngIf="!isLoggedIn" class="mensaje_contacto">
              Al contactar estás aceptando el
              <strong (click)="aviso(0)">Aviso de Privacidad</strong> y los
              <strong (click)="aviso(1)">
                Términos y condiciones
              </strong>
            </p>

            <p *ngIf="tipo_veiculo === 'motos'">
              {{ descripcionCorta }}
              <span *ngIf="auto.descripcion?.split(' ').length > 20"
                (click)="descripcionExpandida = !descripcionExpandida" style="color: #ff0000; cursor: pointer;">
                {{ descripcionExpandida ? 'Ver menos' : 'Ver más' }}
              </span>
            </p>

            <div class="mapa_admin">
              <h1 class="text_ubicacion">Ubicación</h1>
              <div #mapAutoContainer style="width: 100%; height: 200px; border-radius: px;" (click)="openDirection()">
              </div>
              <!-- Dirección debajo del mapa -->
              <ion-card-content style="margin-top: 0.2rem; font-size: 14px; color: #4b5563;">
                <ion-icon name="location-outline" style="margin-right: 6px;"></ion-icon>
                {{ direccionCompleta }}
              </ion-card-content>
            </div>

            <!-- Componente de cotizador Nuevos ☢️ -->
            <app-cotizador *ngIf="mostrarCotizador && tipo_veiculo!=='camiones'" [coche]="auto"
              [versionNuevo]="versionSeleccionada?.nombre ?? null" [precioNuevo]="versionSeleccionada?.precio ?? null">
            </app-cotizador>

            <ion-card>
              <!-- Datos del vendedor -->
              <ion-card-content style="margin-top: 0.8rem; font-size: 14px; color: #4b5563;"
                *ngIf="auto.lote == null && (MyRole == 'admin' || esMio)">
                <ion-label style="font-weight: bold; font-size: 15px;">Vendedor</ion-label>
                <p style="margin: 4px 0 0 0;">
                  <ion-icon name="person-circle-outline" style="margin-right: 6px;"></ion-icon>
                  {{ auto.usuarioId.nombre }} {{ auto.usuarioId.apellidos }}
                </p>
                <p style="margin: 4px 0 0 0;">
                  <ion-icon name="mail-outline" style="margin-right: 6px;"></ion-icon>
                  {{ auto.usuarioId.email }}
                </p>
                <p style="margin: 4px 0 0 0;">
                  <ion-icon name="call-outline" style="margin-right: 6px;"></ion-icon>
                  {{ auto.usuarioId.lada }} {{ auto.usuarioId.telefono }}
                </p>
              </ion-card-content>

              <ion-card-content style="margin-top: 0.8rem; font-size: 14px; color: #4b5563;" *ngIf="auto.lote != null"
                (click)="mostrarAutos(auto.lote)" button>
                <ion-label style="font-weight: bold; font-size: 15px;">Lote</ion-label>

                <!-- Imagen del lote como avatar -->
                <div style="
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin: 8px 0;
                  ">
                  <ion-avatar style="width: 70px; height: 70px;">
                    <img [src]="auto.lote.imagenPrincipal" alt="Logo del lote" />
                  </ion-avatar>

                  <div>
                    <p style="margin: 4px 0 0 0; font-weight: 600;">
                      <ion-icon name="business-outline" style="margin-right: 6px;"></ion-icon>
                      {{ auto.lote.nombre }}
                    </p>
                    <p style="margin: 4px 0 0 0;">
                      <ion-icon name="call-outline" style="margin-right: 6px;"></ion-icon>
                      +52 {{ auto.lote.telefonoContacto }}
                    </p>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
          <div class="overlay" *ngIf="esDispositivoMovil && auto.estadoVehiculo === 'vendido'">
            <img src="/assets/icon/vendido.png" alt="Vendido" />
          </div>
        </ion-col>

        <!-- Columna derecha: Detalles comerciales -->
        <ion-col size="12" size-md="4" class="columna-derecha responsive-col">
          <div *ngIf="!esDispositivoMovil && auto.estadoVehiculo === 'disponible'" class="card-detalle">
            <h2>{{ auto.marca }} {{ auto.modelo }} {{ auto.anio }}</h2>
            <p class="precio-principal" *ngIf="tipo_veiculo === 'autos'">
              {{ versionSeleccionada?.nombre }}:
            </p>

            <p class="precio-valor" *ngIf="tipo_veiculo === 'autos'">
              {{ versionSeleccionada?.precio | currency:'MXN':'symbol':'1.0-0'
              }}
            </p>
            <p class="precio-valor" *ngIf="tipo_veiculo === 'motos' || tipo_veiculo === 'camiones'">
              {{ auto.precio | currency:'MXN':'symbol':'1.0-0' }}
            </p>

            <!-- Versiones -->
            <div class="versiones" *ngIf="tipo_veiculo === 'autos'">
              <p class="titulo-seccion">Versiones</p>
              <div class="version" *ngFor="let version of versiones" (click)="onSeleccionarVersion(version)"
                [class.activa]="versionSeleccionada?.nombre === version.nombre">
                <span>{{ version.nombre }}</span>
                <span class="precio-version">{{ version.precio | currency:'MXN':'symbol' }}</span>
              </div>
            </div>

            <div *ngIf="tipo_veiculo === 'motos'">
              Colores
              <div class="fila-colores" *ngIf="auto.color?.length > 0">
                <div *ngFor="let color of auto.color" class="color-pill" [ngStyle]="getEstiloColor(color)">
                  <!-- {{ color }} -->
                </div>
              </div>
            </div>

            <!-- Botón contactar -->
            <div class="botones-contacto-responsive">
              <button *ngIf="!esMio" (click)="contactosService.contactarWOAW(auto, tipo_veiculo)"
                class="btn-personalizado success">
                <ion-icon name="logo-whatsapp"></ion-icon>
                WhatsApp
              </button>

              <button (click)="contactosService.compartirAuto(auto, tipo_veiculo)" class="btn-personalizado medium">
                <ion-icon name="share-social-outline"></ion-icon>
                Compartir
              </button>

              <br />
              <button *ngIf="tipo_veiculo === 'autos' && MyRole !== 'admin' && !esMio" class="btn-personalizado danger"
                (click)="contactosService.ArrendamientoAuto(auto)">
                <ion-icon name="car-sport"></ion-icon>
                Arrendar
              </button>
            </div>

            <p *ngIf="!isLoggedIn" class="mensaje_contacto">
              Al contactar estás aceptando el
              <strong (click)="aviso(0)">Aviso de Privacidad</strong> y los
              <strong (click)="aviso(1)">Términos y condiciones</strong>
            </p>

            <p>
              {{auto.descripcion}}
            </p>

            <!-- Componente de cotizador Nuevos ☢️ -->
            <app-cotizador *ngIf="mostrarCotizador && tipo_veiculo!=='camiones'" [coche]="auto"
              [versionNuevo]="versionSeleccionada?.nombre ?? null" [precioNuevo]="versionSeleccionada?.precio ?? null">
            </app-cotizador>

            <ion-card>
              <!-- Datos del vendedor -->
              <ion-card-content style="margin-top: 0.8rem; font-size: 14px; color: #4b5563;"
                *ngIf="auto.lote == null && (MyRole == 'admin' || esMio)">
                <ion-label style="font-weight: bold; font-size: 15px;">Vendedor</ion-label>
                <p style="margin: 4px 0 0 0;">
                  <ion-icon name="person-circle-outline" style="margin-right: 6px;"></ion-icon>
                  {{ auto.usuarioId.nombre }} {{ auto.usuarioId.apellidos }}
                </p>
                <p style="margin: 4px 0 0 0;">
                  <ion-icon name="mail-outline" style="margin-right: 6px;"></ion-icon>
                  {{ auto.usuarioId.email }}
                </p>
                <p style="margin: 4px 0 0 0;">
                  <ion-icon name="call-outline" style="margin-right: 6px;"></ion-icon>
                  {{ auto.usuarioId.lada }} {{ auto.usuarioId.telefono }}
                </p>
              </ion-card-content>

              <ion-card-content style="margin-top: 0.8rem; font-size: 14px; color: #4b5563;" *ngIf="auto.lote != null"
                (click)="mostrarAutos(auto.lote)" button>
                <ion-label style="font-weight: bold; font-size: 15px;">Lote</ion-label>

                <!-- Imagen del lote como avatar -->
                <div style="
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin: 8px 0;
                  ">
                  <ion-avatar style="width: 70px; height: 70px;">
                    <img [src]="auto.lote.imagenPrincipal" alt="Logo del lote" />
                  </ion-avatar>

                  <div>
                    <p style="margin: 4px 0 0 0; font-weight: 600;">
                      <ion-icon name="business-outline" style="margin-right: 6px;"></ion-icon>
                      {{ auto.lote.nombre }}
                    </p>
                    <p style="margin: 4px 0 0 0;">
                      <ion-icon name="call-outline" style="margin-right: 6px;"></ion-icon>
                      +52 {{ auto.lote.telefonoContacto }}
                    </p>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
          <div class="overlay" *ngIf="!esDispositivoMovil && auto.estadoVehiculo === 'vendido'">
            <img src="/assets/icon/vendido.png" alt="Vendido" />
          </div>

          <!-- Especificaciones -->
          <div class="especificaciones" *ngIf="esDispositivoMovil && tipo_veiculo === 'autos'">
            <h4>Especificaciones</h4>

            <ng-container *ngFor="let esp of especificacionesAuto; let i = index">
              <h5 *ngIf="especificacionesAuto.length > 1">
                Versión {{ i + 1 }}: {{ esp.version }}
              </h5>
              <table>
                <tr>
                  <td>Marca</td>
                  <td>{{ esp.marca }}</td>
                </tr>
                <tr>
                  <td>Modelo</td>
                  <td>{{ esp.modelo }}</td>
                </tr>
                <tr>
                  <td>Año</td>
                  <td>{{ esp.anio }}</td>
                </tr>
                <tr>
                  <td>Motor</td>
                  <td>{{ esp.motor || '-' }}</td>
                </tr>
                <tr>
                  <td>Cilindros</td>
                  <td>{{ esp.cilindros || '-' }}</td>
                </tr>
                <tr>
                  <td>Potencia</td>
                  <td>{{ esp.potencia || '-' }}</td>
                </tr>
                <tr>
                  <td>Combustible</td>
                  <td>{{ esp.combustible || '-' }}</td>
                </tr>
                <tr>
                  <td>Transmisión</td>
                  <td>{{ esp.transmision || '-' }}</td>
                </tr>
                <tr>
                  <td>Tracción</td>
                  <td>{{ esp.traccion || '-' }}</td>
                </tr>
                <tr>
                  <td>Puertas</td>
                  <td>{{ esp.puertas || '-' }}</td>
                </tr>
                <tr>
                  <td>Pasajeros</td>
                  <td>{{ esp.pasajeros || '-' }}</td>
                </tr>
                <tr>
                  <td>Rines</td>
                  <td>{{ esp.rines || '-' }}</td>
                </tr>
                <tr *ngIf="esp.extra && esp.extra.length">
                  <td>Extras</td>
                  <td>
                    <ul>
                      <li *ngFor="let item of esp.extra">{{ item }}</li>
                    </ul>
                  </td>
                </tr>
              </table>
            </ng-container>
          </div>
          <div *ngIf="esDispositivoMovil && (tipo_veiculo === 'motos' || tipo_veiculo === 'camiones')"
            class="especificaciones">
            <h4>Especificaciones</h4>
            <table>
              <tr *ngIf="auto.marca">
                <td>Marca</td>
                <td>{{ auto.marca }}</td>
              </tr>
              <tr *ngIf="auto.modelo">
                <td>Modelo</td>
                <td>{{ auto.modelo }}</td>
              </tr>
              <tr *ngIf="auto.anio">
                <td>Año</td>
                <td>{{ auto.anio }}</td>
              </tr>
              <tr *ngIf="auto.tipoMotor">
                <td>Tipo de Motor</td>
                <td>{{ auto.tipoMotor }}</td>
              </tr>
              <tr *ngIf="auto.cilindrada">
                <td>Cilindrada</td>
                <td>{{ auto.cilindrada }}</td>
              </tr>
              <tr *ngIf="auto.transmision">
                <td>Transmisión</td>
                <td>{{ auto.transmision }}</td>
              </tr>
              <tr *ngIf="auto.combustible">
                <td>Combustible</td>
                <td>{{ auto.combustible }}</td>
              </tr>
              <tr *ngIf="auto.frenos">
                <td>Frenos</td>
                <td>{{ auto.frenos }}</td>
              </tr>
              <tr *ngIf="auto.suspension">
                <td>Suspensión</td>
                <td>{{ auto.suspension }}</td>
              </tr>
              <tr *ngIf="auto.kilometraje !== null && auto.kilometraje !== undefined">
                <td>Kilometraje</td>
                <td>{{ auto.kilometraje }} km</td>
              </tr>
              <tr *ngIf="auto.color?.length">
                <td>Color</td>
                <td>
                  <ul style="margin: 0; padding-left: 16px;">
                    <li *ngFor="let c of auto.color">{{ c }}</li>
                  </ul>
                </td>
              </tr>
              <tr *ngIf="auto.descripcion">
                <td>Descripción</td>
                <td>{{ auto.descripcion }}</td>
              </tr>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- ================== SEMINUEVOS / USADOS ================== -->
    <ion-grid *ngIf="tipo === 'seminuevo' ||  tipo === 'usado'">
      <ion-row class="fila-ficha">
        <!-- Columna izquierda: Imagen grande, miniaturas y especificaciones -->
        <ion-col size="12" size-md="8" class="columna-izquierda responsive-col">
          <div class="contenedor-imagenes">
            <div class="contenedor_imagen_principal" (touchstart)="esDispositivoMovil && onTouchStart($event)"
              (touchend)="esDispositivoMovil && onTouchEnd($event)">
              <div class="imagen-principal"
                (click)="abrirModalImagen(auto.imagenes, auto.imagenes.indexOf(imagenSeleccionada)); $event.stopPropagation()">
                <!-- Imagen -->
                <img [src]="imagenSeleccionada" alt="Imagen principal del auto" (load)="onImagenPrincipalCargada()" />
                <!-- Loader -->
                <div class="loader_carta" *ngIf="!imagenPrincipalCargada">
                  <div class="spinner_carta"></div>
                  <span class="texto_cargando">Cargando...</span>
                </div>
                <!-- Flechas (pantallas grandes) -->
                <ng-container *ngIf="!esDispositivoMovil">
                  <button class="flecha izquierda" (click)="cambiarImagen('anterior'); $event.stopPropagation()"
                    [disabled]="imagenSeleccionada === auto.imagenes[0]">
                    ‹
                  </button>
                  <button class="flecha derecha" (click)="cambiarImagen('siguiente'); $event.stopPropagation()"
                    [disabled]="imagenSeleccionada === auto.imagenes[auto.imagenes.length - 1]">
                    ›
                  </button>
                </ng-container>
              </div>
            </div>
            <!-- Miniaturas -->
            <div class="miniaturas-vertical">
              <ng-container *ngFor="let img of auto.imagenes">
                <img [src]="img" alt="Miniatura" [class.activa]="img === imagenSeleccionada"
                  [class.oculta]="!miniaturasCargadas[img]" (click)="imagenSeleccionada = img"
                  (load)="onMiniaturaCargada(img)" />

                <div class="loader_miniatura" *ngIf="!miniaturasCargadas[img]">
                  <div class="spinner_miniatura"></div>
                </div>
              </ng-container>
            </div>
          </div>

          <div *ngIf="!esDispositivoMovil" class="mapa_admin">
            <h1 class="text_ubicacion">Ubicación</h1>
            <div #mapAutoContainer style="width: 100%; height: 300px; border-radius: px;"></div>
            <!-- Dirección debajo del mapa -->
            <ion-card-content style="margin-top: 0.2rem; font-size: 14px; color: #4b5563;">
              <ion-icon name="location-outline" style="margin-right: 6px;"></ion-icon>
              {{ direccionCompleta }}
            </ion-card-content>
          </div>

          <!-- Especificaciones -->
          <div *ngIf="!esDispositivoMovil" class="especificaciones">
            <h4>Especificaciones</h4>
            <table>
              <tr *ngIf="auto.marca">
                <td>Marca</td>
                <td>{{ auto.marca }}</td>
              </tr>
              <tr *ngIf="auto.modelo">
                <td>Modelo</td>
                <td>{{ auto.modelo }}</td>
              </tr>
              <tr *ngIf="auto.anio">
                <td>Año</td>
                <td>{{ auto.anio }}</td>
              </tr>
              <tr *ngIf="auto.motor">
                <td>Motor</td>
                <td>{{ auto.motor }}</td>
              </tr>
              <tr *ngIf="auto.tipoMotor">
                <td>Tipo de Motor</td>
                <td>{{ auto.tipoMotor }}</td>
              </tr>
              <tr *ngIf="auto.cilindros">
                <td>Cilindros</td>
                <td>{{ auto.cilindros }}</td>
              </tr>
              <tr *ngIf="auto.cilindrada">
                <td>Cilindrada</td>
                <td>{{ auto.cilindrada }}</td>
              </tr>
              <tr *ngIf="auto.potencia">
                <td>Potencia</td>
                <td>{{ auto.potencia }}</td>
              </tr>
              <tr *ngIf="auto.frenos">
                <td>Frenos</td>
                <td>{{ auto.frenos }}</td>
              </tr>
              <tr *ngIf="auto.suspension">
                <td>Suspensión</td>
                <td>{{ auto.suspension }}</td>
              </tr>
              <tr *ngIf="auto.combustible">
                <td>Combustible</td>
                <td>{{ auto.combustible }}</td>
              </tr>
              <tr *ngIf="auto.transmision">
                <td>Transmisión</td>
                <td>{{ auto.transmision }}</td>
              </tr>
              <tr *ngIf="auto.traccion">
                <td>Tracción</td>
                <td>{{ auto.traccion }}</td>
              </tr>
              <tr *ngIf="auto.puertas">
                <td>Puertas</td>
                <td>{{ auto.puertas }}</td>
              </tr>
              <tr *ngIf="auto.pasajeros">
                <td>Pasajeros</td>
                <td>{{ auto.pasajeros }}</td>
              </tr>
              <tr *ngIf="auto.rines">
                <td>Rines</td>
                <td>{{ auto.rines }}</td>
              </tr>
              <tr *ngIf="auto.kilometraje !== undefined && auto.kilometraje !== null">
                <td>Kilometraje</td>
                <td>{{ auto.kilometraje }} km</td>
              </tr>
              <tr *ngIf="auto.color">
                <td>Color</td>
                <td>{{ auto.color }}</td>
              </tr>
              <tr *ngIf="auto.color?.length && tipo_veiculo === 'motos'">
                <td>Color</td>
                <td>
                  <ul style="margin: 0; padding-left: 16px;">
                    <li *ngFor="let c of auto.color">{{ c }}</li>
                  </ul>
                </td>
              </tr>
              <tr *ngIf="auto.extra?.length">
                <td>Extras</td>
                <td>
                  <ul>
                    <li *ngFor="let item of auto.extra">{{ item }}</li>
                  </ul>
                </td>
              </tr>
              <tr *ngIf="auto.descripcion">
                <td>Descripción</td>
                <td>{{ auto.descripcion }}</td>
              </tr>
            </table>
          </div>

          <!-- INFO + CTA EN MÓVIL -->
          <div *ngIf="esDispositivoMovil && auto.estadoVehiculo === 'disponible'" class="card-detalle">
            <h2>{{ auto.marca }} {{ auto.modelo }} {{ auto.anio }}</h2>
            <p class="precio-principal" *ngIf="tipo_veiculo === 'autos'">
              {{ versionSeleccionada?.nombre }}:
            </p>

            <p class="precio-valor" *ngIf="tipo_veiculo === 'autos'">
              {{ versionSeleccionada?.precio | currency:'MXN':'symbol':'1.0-0'
              }}
            </p>
            <p class="precio-valor" *ngIf="tipo_veiculo === 'motos'">
              {{ auto.precio | currency:'MXN':'symbol':'1.0-0' }}
            </p>

            <!-- Botón contactar -->
            <div class="botones-contacto-responsive">
              <button *ngIf="!esMio" (click)="contactosService.contactarWOAW(auto, tipo_veiculo)"
                class="btn-personalizado success">
                <ion-icon name="logo-whatsapp"></ion-icon>
                WhatsApp
              </button>

              <button (click)="contactosService.compartirAuto(auto, tipo_veiculo)" class="btn-personalizado medium">
                <ion-icon name="share-social-outline"></ion-icon>
                Compartir
              </button>

              <button *ngIf="MyRole !== 'admin' && !esMio" (click)="contactosService.llamar()"
                class="btn-personalizado primary">
                <ion-icon name="call-outline"></ion-icon>
                Llamar
              </button>
            </div>

            <p *ngIf="!isLoggedIn" class="mensaje_contacto">
              Al contactar estás aceptando el
              <strong (click)="aviso(0)">Aviso de Privacidad</strong> y los
              <strong (click)="aviso(1)">Términos y condiciones </strong>
            </p>

            <p>
              {{ descripcionCorta }}
              <span *ngIf="auto.descripcion?.split(' ').length > 20"
                (click)="descripcionExpandida = !descripcionExpandida" style="color: #ff0000; cursor: pointer;">

                {{ descripcionExpandida ? 'Ver menos' : 'Ver más' }}
              </span>
            </p>

            <div class="mapa_admin">
              <h1 class="text_ubicacion">Ubicación</h1>
              <div #mapAutoContainer style="width: 100%; height: 200px; border-radius: px;" (click)="openDirection()">
              </div>
              <!-- Dirección debajo del mapa -->
              <ion-card-content style="margin-top: 0.2rem; font-size: 14px; color: #4b5563;">
                <ion-icon name="location-outline" style="margin-right: 6px;"></ion-icon>
                {{ direccionCompleta }}
              </ion-card-content>
            </div>

            <ion-row>
              <ion-col size="12" size-md="7">
                <!-- Componente de cotizador ☢️ -->
                <app-cotizador *ngIf="tipo_veiculo!=='camiones'" [coche]="auto"></app-cotizador>
              </ion-col>

              <ion-col size="12" size-md="5" *ngIf="(auto.lote == null ||auto.lote != null) ">
                <ion-card>
                  <!-- Datos del vendedor -->
                  <ion-card-content style="margin-top: 0.8rem; font-size: 14px; color: #4b5563;"
                    *ngIf="auto.lote == null && (MyRole == 'admin' || esMio)">
                    <ion-label style="font-weight: bold; font-size: 15px;">Vendedor</ion-label>
                    <p style="margin: 4px 0 0 0;">
                      <ion-icon name="person-circle-outline" style="margin-right: 6px;"></ion-icon>
                      {{ auto.usuarioId.nombre }} {{ auto.usuarioId.apellidos }}
                    </p>
                    <p style="margin: 4px 0 0 0;">
                      <ion-icon name="mail-outline" style="margin-right: 6px;"></ion-icon>
                      {{ auto.usuarioId.email }}
                    </p>
                    <p style="margin: 4px 0 0 0;">
                      <ion-icon name="call-outline" style="margin-right: 6px;"></ion-icon>
                      {{ auto.usuarioId.lada }} {{ auto.usuarioId.telefono }}
                    </p>
                  </ion-card-content>

                  <ion-card-content style="margin-top: 0.8rem; font-size: 14px; color: #4b5563;"
                    *ngIf="auto.lote != null" (click)="mostrarAutos(auto.lote)" button>
                    <ion-label style="font-weight: bold; font-size: 15px;">Lote</ion-label>

                    <!-- Imagen del lote como avatar -->
                    <div style="
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        margin: 8px 0;
                      ">
                      <ion-avatar style="width: 70px; height: 70px;">
                        <img [src]="auto.lote.imagenPrincipal" alt="Logo del lote" />
                      </ion-avatar>

                      <div>
                        <p style="margin: 4px 0 0 0; font-weight: 600;">
                          <ion-icon name="business-outline" style="margin-right: 6px;"></ion-icon>
                          {{ auto.lote.nombre }}
                        </p>
                        <p style="margin: 4px 0 0 0;">
                          <ion-icon name="call-outline" style="margin-right: 6px;"></ion-icon>
                          +52 {{ auto.lote.telefonoContacto }}
                        </p>
                      </div>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>

          <div class="overlay" *ngIf="esDispositivoMovil && auto.estadoVehiculo === 'vendido'">
            <img src="/assets/icon/vendido.png" alt="Vendido" />
          </div>
        </ion-col>

        <!-- Columna derecha: Detalles comerciales -->
        <ion-col size="12" size-md="4" class="columna-derecha responsive-col">
          <div *ngIf="!esDispositivoMovil && auto.estadoVehiculo === 'disponible'" class="card-detalle">
            <h2>{{ auto.marca }} {{ auto.modelo }} {{ auto.anio }}</h2>
            <p class="precio-principal" *ngIf="tipo_veiculo === 'autos'">
              {{ versionSeleccionada?.nombre }}:
            </p>

            <p class="precio-valor" *ngIf="tipo_veiculo === 'autos'">
              {{ versionSeleccionada?.precio | currency:'MXN':'symbol':'1.0-0'
              }}
            </p>
            <p class="precio-valor" *ngIf="tipo_veiculo === 'motos'">
              {{ auto.precio | currency:'MXN':'symbol':'1.0-0' }}
            </p>

            <!-- MIS DATOS ( {{MyRole}} - {{ esMio }} ) -->
            <div class="botones-contacto-responsive">
              <button *ngIf="!esMio" (click)="contactosService.contactarWOAW(auto, tipo_veiculo)"
                class="btn-personalizado success">
                <ion-icon name="logo-whatsapp"></ion-icon>
                WhatsApp
              </button>
              <button (click)="contactosService.compartirAuto(auto, tipo_veiculo)" class="btn-personalizado medium">
                <ion-icon name="share-social-outline"></ion-icon>
                Compartir
              </button>
            </div>

            <p *ngIf="!isLoggedIn" class="mensaje_contacto">
              Al contactar estás aceptando el
              <strong (click)="aviso(0)">Aviso de Privacidad</strong> y los
              <strong (click)="aviso(1)">Términos y condiciones </strong>
            </p>

            <p>
              {{auto.descripcion}}
            </p>

            <!-- Componente de cotizador ☢️ -->
            <app-cotizador *ngIf="tipo_veiculo!=='camiones'" [coche]="auto"></app-cotizador>

            <ion-card>
              <!-- Datos del vendedor -->
              <ion-card-content style="margin-top: 0.8rem; font-size: 14px; color: #4b5563;"
                *ngIf="auto.lote == null && (MyRole == 'admin' || esMio)">
                <ion-label style="font-weight: bold; font-size: 15px;">Vendedor</ion-label>
                <p style="margin: 4px 0 0 0;">
                  <ion-icon name="person-circle-outline" style="margin-right: 6px;"></ion-icon>
                  {{ auto.usuarioId.nombre }} {{ auto.usuarioId.apellidos }}
                </p>
                <p style="margin: 4px 0 0 0;">
                  <ion-icon name="mail-outline" style="margin-right: 6px;"></ion-icon>
                  {{ auto.usuarioId.email }}
                </p>
                <p style="margin: 4px 0 0 0;">
                  <ion-icon name="call-outline" style="margin-right: 6px;"></ion-icon>
                  {{ auto.usuarioId.lada }} {{ auto.usuarioId.telefono }}
                </p>
              </ion-card-content>

              <ion-card-content style="margin-top: 0.8rem; font-size: 14px; color: #4b5563;" *ngIf="auto.lote != null"
                (click)="mostrarAutos(auto.lote)" button>
                <ion-label style="font-weight: bold; font-size: 15px;">Lote</ion-label>

                <!-- Imagen del lote como avatar -->
                <div style="
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin: 8px 0;
                  ">
                  <ion-avatar style="width: 70px; height: 70px;">
                    <img [src]="auto.lote.imagenPrincipal" alt="Logo del lote" />
                  </ion-avatar>

                  <div>
                    <p style="margin: 4px 0 0 0; font-weight: 600;">
                      <ion-icon name="business-outline" style="margin-right: 6px;"></ion-icon>
                      {{ auto.lote.nombre }}
                    </p>
                    <p style="margin: 4px 0 0 0;">
                      <ion-icon name="call-outline" style="margin-right: 6px;"></ion-icon>
                      +52 {{ auto.lote.telefonoContacto }}
                    </p>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
          <div class="overlay" *ngIf="!esDispositivoMovil && auto.estadoVehiculo === 'vendido'">
            <img src="/assets/icon/vendido.png" alt="Vendido" />
          </div>

          <!-- Especificaciones -->
          <div class="especificaciones" *ngIf="esDispositivoMovil">
            <h4>Especificaciones</h4>
            <table>
              <tr *ngIf="auto.marca">
                <td>Marca</td>
                <td>{{ auto.marca }}</td>
              </tr>
              <tr *ngIf="auto.modelo">
                <td>Modelo</td>
                <td>{{ auto.modelo }}</td>
              </tr>
              <tr *ngIf="auto.anio">
                <td>Año</td>
                <td>{{ auto.anio }}</td>
              </tr>
              <tr *ngIf="auto.motor">
                <td>Motor</td>
                <td>{{ auto.motor }}</td>
              </tr>
              <tr *ngIf="auto.tipoMotor">
                <td>Tipo de Motor</td>
                <td>{{ auto.tipoMotor }}</td>
              </tr>
              <tr *ngIf="auto.cilindros">
                <td>Cilindros</td>
                <td>{{ auto.cilindros }}</td>
              </tr>
              <tr *ngIf="auto.cilindrada">
                <td>Cilindrada</td>
                <td>{{ auto.cilindrada }}</td>
              </tr>
              <tr *ngIf="auto.potencia">
                <td>Potencia</td>
                <td>{{ auto.potencia }}</td>
              </tr>
              <tr *ngIf="auto.frenos">
                <td>Frenos</td>
                <td>{{ auto.frenos }}</td>
              </tr>
              <tr *ngIf="auto.suspension">
                <td>Suspensión</td>
                <td>{{ auto.suspension }}</td>
              </tr>
              <tr *ngIf="auto.combustible">
                <td>Combustible</td>
                <td>{{ auto.combustible }}</td>
              </tr>
              <tr *ngIf="auto.transmision">
                <td>Transmisión</td>
                <td>{{ auto.transmision }}</td>
              </tr>
              <tr *ngIf="auto.traccion">
                <td>Tracción</td>
                <td>{{ auto.traccion }}</td>
              </tr>
              <tr *ngIf="auto.puertas">
                <td>Puertas</td>
                <td>{{ auto.puertas }}</td>
              </tr>
              <tr *ngIf="auto.pasajeros">
                <td>Pasajeros</td>
                <td>{{ auto.pasajeros }}</td>
              </tr>
              <tr *ngIf="auto.rines">
                <td>Rines</td>
                <td>{{ auto.rines }}</td>
              </tr>
              <tr *ngIf="auto.kilometraje !== undefined && auto.kilometraje !== null">
                <td>Kilometraje</td>
                <td>{{ auto.kilometraje }} km</td>
              </tr>
              <tr *ngIf="auto.color">
                <td>Color</td>
                <td>{{ auto.color }}</td>
              </tr>
              <tr *ngIf="auto.color?.length && tipo_veiculo === 'motos'">
                <td>Color</td>
                <td>
                  <ul style="margin: 0; padding-left: 16px;">
                    <li *ngFor="let c of auto.color">{{ c }}</li>
                  </ul>
                </td>
              </tr>
              <tr *ngIf="auto.extra?.length">
                <td>Extras</td>
                <td>
                  <ul>
                    <li *ngFor="let item of auto.extra">{{ item }}</li>
                  </ul>
                </td>
              </tr>
              <tr *ngIf="auto.descripcion">
                <td>Descripción</td>
                <td>{{ auto.descripcion }}</td>
              </tr>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <app-collage-ficha [imagenes]="auto.imagenes"></app-collage-ficha>
  </div>

  <app-sugerencias [idCar]="idvehiculo"></app-sugerencias>
 <br><br><br>
</ion-content>
