<app-navbar></app-navbar>



<ion-content [fullscreen]="true" class="contenido-ios" #pageContent>

  <!-- Refresher iOS -->
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    pullFactor="0.4"
    pullMin="120"
    pullMax="200"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-outline"
      refreshingSpinner="lines"
      pullingText="Desliza para actualizar"
      refreshingText="Actualizando..."
    ></ion-refresher-content>
  </ion-refresher>

  <app-acomodo
    [totalAutos]="totalCamiones"
    (ordenCambio)="ordenarCamiones($event)"
    [titulo]="'Mis Camiones'"
  ></app-acomodo>

  <ion-grid class="contenedor-catalogo-ios">
    <ion-row>

      <!-- Filtros -->
      <ion-col size="12" size-md="3">
        <app-menu
          [filtros]="filtros"
          [filtrosAplicados]="filtrosAplicados"
          (mostrarOpciones)="mostrarOpciones($event.event, $event.tipo)"
          (limpiarFiltros)="resetearFiltros()"
        ></app-menu>
      </ion-col>

      <!-- Catálogo -->
      <ion-col size="12" size-md="9">
        <div class="catalogo-autos-ios">

          <!-- EMPTY -->
          <div *ngIf="camionesPaginados?.length === 0" class="mensaje-vacio-ios">
            <ion-icon name="trail-sign-outline"></ion-icon>
            <p>No tienes camiones disponibles.</p>
          </div>

          <ng-container *ngFor="let camion of camionesPaginados">
            <app-cartas
              [auto]="camion"
              [autosFavoritosIds]="camionesFavoritosIds"
              [ubicacion]="'mis_camiones'"
              [esMio]="idsMisCamiones.includes(camion._id)"
            ></app-cartas>
          </ng-container>
        </div>

        <!-- PAGINACIÓN ROJA iOS -->
        <div class="contenedor-paginacion-ios" *ngIf="totalPaginas > 1">
          <div class="paginacion-scroll-ios">
            <div class="paginacion-ios">

              <!-- Anterior -->
              <button
                class="pagina-ios"
                (click)="cambiarPagina(paginaActual - 1)"
                [disabled]="paginaActual === 1"
              >‹</button>

              <!-- Dinámicos -->
              <ng-container *ngFor="let i of paginasReducidas">
                <button
                  *ngIf="esNumero(i)"
                  class="pagina-ios"
                  [class.activa]="paginaActual === i"
                  (click)="cambiarPagina(i)"
                >{{ i }}</button>

                <span
                  *ngIf="!esNumero(i)"
                  class="ellipsis-ios"
                >...</span>
              </ng-container>

              <!-- Siguiente -->
              <button
                class="pagina-ios"
                (click)="cambiarPagina(paginaActual + 1)"
                [disabled]="paginaActual === totalPaginas"
              >›</button>

            </div>
          </div>
        </div>

      </ion-col>

    </ion-row>
  </ion-grid>

  <br>
  <br>

</ion-content>
